<?php /* if ($reviews) { ?>
<?php foreach ($reviews as $review) { ?>
<div class="review-list">
  <div class="author"><b><?php echo $review['author']; ?></b> <?php echo $text_on; ?> <?php echo $review['date_added']; ?></div>
  <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $review['rating'] . '.png'; ?>" alt="<?php echo $review['reviews']; ?>" /></div>
  <div class="text"><?php echo $review['text']; ?></div>
</div>
<?php } ?>
<div class="pagination"><?php echo $pagination; ?></div>
<?php } else { ?>
<div class="content"><?php echo $text_no_reviews; ?></div>
<?php } */?>

  
<?php if ($reviews) { ?>
<?php foreach ($reviews as $review) { ?>
 <!--<div class="revwStar-2">
               <img src="catalog/view/theme/default/image/stars-<?php echo $review['rating'] . '.png'; ?>" alt="<?php echo $review['reviews']; ?>" />
 </div>-->
 
<div class="profileeAra">
                <!--<div class="proimgara"><img src="catalog/view/theme/getfloss/images/profile-image.png" /></div>-->
                    <!--<div class="profil_TXTAra">
                    <div class="profil_descrip">Posted by:  <a><?php echo $review['author']; ?></a> <?php echo $text_on; ?> <?php echo $review['date_added']; ?></div>
                       
                    </div>-->
                       </div>
                   <div class="memdetalara">
                	<div class="membrLft">
                    	 <div class="abtparatxt">
                         <div class="proimgara"><img src="catalog/view/theme/getfloss/images/profile-image.png" /></div>
                         <div class="profil_TXTAra">
                    <div class="profil_descrip">Posted by:  <a><?php echo $review['author']; ?></a> <?php echo $text_on; ?> <?php $reviewbreak=explode("/",$review['date_added']); echo $reviewbreak[1].'/'.$reviewbreak[0].'/'.$reviewbreak[2];
		    ?></div>
                    <div class="revwStar-2">
               <img src="catalog/view/theme/default/image/stars-<?php echo $review['rating'] . '.png'; ?>" alt="<?php echo $review['reviews']; ?>" />
 </div>
                       
                    </div>
                        <?php echo $review['text']; ?>
                        </div>
                    </div>
               </div>
                  <?php } ?>
                  <?php } ?>
             

              

