<?php echo $header; ?>
<!--Body section-->

<div class="cretaccuntAra">
<div class="innerwrapper">

<div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  

<!--<div id="content"><?php echo $content_top; ?>
 
  <h1 class="prdct_name"><?php echo $heading_title; ?></h1>
  <?php echo $text_message; ?>
<?php $_SESSION['fblogin'] = 0; ?>
  
  <?php echo $content_bottom; ?>
  </div>-->
  
  <div class="error-warp">
<div class="heading">Thank You for Your Interest!</div>
<div class="subheading">We appreciate you taking the time to fill out our form. We'll respond to your request shortly.</div>
<div class="smalltext">In the meantime... <font color="#0090d3">Subscribe Our Newsletter</font> or connect with us on <a href="#" target="_blank" style="color:#3f6dce">Facebook</a>, <a target="_blank" href="#" style="color:#009dd5">Twitter</a>, <a href="#" target="_blank" style="color:#ea5c58">YouTube</a>, or <a href="#" target="_blank" style="color:#ff7f18">Google+</a></div>
<div class="success-newsletterbox">
<div class="heading">Sign-Up For The <strong><font color="#000">Get</font>Floss</strong> Newsletter</div>
<form action="" method="post" >
<input name="email" type="text" class="success-newsletterbox_input" placeholder="Email address..." id="newsletteremail" />
<input name="submit" type="button" class="success-newsletterbox_signupbtn" value="" onclick="showHint()" />
</form>
</div>

</div>
  
  </div>
  </div>
<?php echo $footer; ?>