<?php echo $header; ?>
<div class="infoConAra">
<div class="innerwrapper">
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <h1 class="prdct_name" <?php if($breadcrumbs[1]['text'] == 'About Us'){?>style="width:65%;"<?php }?>><span><?php echo $heading_title; ?></span></h1>
  <div class="content-description" <?php if($breadcrumbs[1]['text'] == 'About Us'){?>style="width:65%;"<?php }?>><?php echo $description; ?></div>
  <?php if($breadcrumbs[1]['text'] == 'About Us'){?>
  <img src="catalog/view/theme/getfloss/images/about-uspic.png" style="float:right;margin:-40px 0 0;" alt="aboutpic"/>
  <?php }?>
  <?php echo $content_bottom; ?></div>
  </div>
  </div>
<?php echo $footer; ?>