<?php echo $header; ?>
<div class="infoConAra">
<div class="innerwrapper">
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php //echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>

  <h1 class="prdct_name"><span><?php echo $heading_title; ?></span></h1>
  <div class="sitemap-info">
    <!--<div class="left">
      <ul>
        <?php foreach ($categories as $category_1) { ?>
        <li><a href="<?php echo $category_1['href']; ?>"><?php echo $category_1['name']; ?></a>
          <?php if ($category_1['children']) { ?>
          <ul>
            <?php foreach ($category_1['children'] as $category_2) { ?>
            <li><a href="<?php echo $category_2['href']; ?>"><?php echo $breadcrumb['separator']; echo $category_2['name']; ?></a>
              <?php if ($category_2['children']) { ?>
              <ul>
                <?php foreach ($category_2['children'] as $category_3) { ?>
                <li><a href="<?php echo $category_3['href']; ?>"><?php echo $breadcrumb['separator']; echo $category_3['name']; ?></a></li>
                <?php } ?>
              </ul>
              <?php } ?>
            </li>
            <?php } ?>
          </ul>
          <?php } ?>
        </li>
        <li><span><?php echo $text_information; ?></span>
          <ul>
            <?php foreach ($informations as $information) { ?>
            <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
            <?php } ?>
            <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
          </ul>
        </li>
        <?php } ?>
      </ul>
    </div>-->
<div class="right">
<ul>
<span><?php echo $text_categories; ?></span>
<?php foreach ($categories as $category_1) { ?>
<li><a href="<?php echo $category_1['href']; ?>"><?php echo $category_1['name']; ?></a></li>
<?php } ?>
</ul>
<!--<ul>
<span><?php echo $text_information; ?></span>
<li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
<li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a> </li>
<li><a href="<?php echo $cart; ?>"><?php echo $text_cart; ?></a></li>
<li><a href="<?php echo $checkout; ?>"><?php echo $text_checkout; ?></a></li>
<li><a href="<?php echo $search; ?>"><?php echo $text_search; ?></a></li>
</ul>-->
</div>

<div class="right">
<ul>
<span><?php echo $text_about; ?></span>
<?php foreach ($informations as $information) { ?>
<li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
<?php } ?>
<li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
</ul>
</div>


<div class="right">
<ul>
<span><?php echo $text_account; ?></span>
<li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
<li><a href="<?php echo $history; ?>"><?php echo $text_history; ?></a></li>
<li><a href="<?php echo $cart; ?>"><?php echo $text_cart; ?></a></li>
<li><a href="<?php echo $checkout; ?>"><?php echo $text_checkout; ?></a></li>
<li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
<li><a href="<?php echo $search; ?>"><?php echo $text_search; ?></a></li>
</ul>
</div>
    
  </div>
  <?php echo $content_bottom; ?></div>
  
  </div>
  </div>
<?php echo $footer; ?>
