<?php echo $header; ?>
<div id="content">
  <div class="wrapper-in">  
   <div class="breadcamp-text">
      <ul>
        <?php $coun = '1'; foreach ($breadcrumbs as $breadcrumb) { ?>
        <?php if(isset($breadcrumb['separator'])){ if($coun > 1){echo "<li><a>/</a></li>";}} ?>
        <li><?php if($coun == 1){ ?>
            <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            <?php }else{ echo $breadcrumb['text']; } ?>
            </li>
        <?php $coun++; } ?>
      </ul>
  </div>  
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/customer.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_feed; ?></a></div>
    </div>
    <div class="content">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <div id="tab-general">
          <table class="form">
            <!--<tr>
              <td><span class="required">*</span> <?php echo $entry_keywords; ?></td>
              <td>
                <input type="text" class="catagore-textfield" name="keywords" />
                <?php //if ($error_keywords) { ?>
                <span class="error"><?php echo $error_keywords; ?></span>
                <?php //} ?>
              </td>
            </tr>-->
            <tr>
              <td><span class="required">*</span><?php echo $entry_category; ?></td>
              <td>
                <?php echo $shopzillaCategories; ?>
                <?php /* ?>
                <input type="text" class="catagore-textfield" name="category" value="" />
                <input type='hidden' name='categoryId' value=''/>
                <?php if ($error_category) { ?>
                <span class="error"><?php echo $error_category; ?></span>
                <?php } ?>
                <?php */ ?>
              </td>
            </tr>
             
          </table>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript"><!--
//$('select[name=\'country_id\']').bind('change', function() {
//	$.ajax({
//		url: 'index.php?route=sale/affiliate/country&token=<?php echo $token; ?>&country_id=' + this.value,
//		dataType: 'json',
//		beforeSend: function() {
//			$('select[name=\'payment_country_id\']').after('<span class="wait">&nbsp;<img src="view/image/loading.gif" alt="" /></span>');
//		},
//		complete: function() {
//			$('.wait').remove();
//		},			
//		success: function(json) {
//			if (json['postcode_required'] == '1') {
//				$('#postcode-required').show();
//			} else {
//				$('#postcode-required').hide();
//			}
//			
//			html = '<option value=""><?php echo $text_select; ?></option>';
//			
//			if (json != '' && json['zone'] != '') {
//				for (i = 0; i < json['zone'].length; i++) {
//        			html += '<option value="' + json['zone'][i]['zone_id'] + '"';
//	    			
//					if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
//	      				html += ' selected="selected"';
//	    			}
//	
//	    			html += '>' + json['zone'][i]['name'] + '</option>';
//				}
//			} else {
//				html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
//			}
//			
//			$('select[name=\'zone_id\']').html(html);
//		},
//		error: function(xhr, ajaxOptions, thrownError) {
//			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//		}
//	});
//});

//$('select[name=\'country_id\']').trigger('change');
//--></script> 
<script type="text/javascript"><!--
//$('input[name=\'payment\']').bind('change', function() {
//	$('.payment').hide();
//	
//	$('#payment-' + this.value).show();
//});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
<script type="text/javascript"><!--
//$.widget('custom.catcomplete', $.ui.autocomplete, {
//	_renderMenu: function(ul, items) {
//		var self = this, currentCategory = '';
//		
//		$.each(items, function(index, item) {
//			if (item.category != currentCategory) {
//				ul.append('<li class="ui-autocomplete-category">' + item.category + '</li>');
//				
//				currentCategory = item.category;
//			}
//			
//			self._renderItem(ul, item);
//		});
//	}
//});

// Category
//$('input[name=\'category\']').autocomplete({
//	delay: 500,
//	source: function(request, response) {
//		$.ajax({
//			url: 'index.php?route=catalog/category/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
//			dataType: 'json',
//			success: function(json) {		
//				response($.map(json, function(item) {
//					return {
//						label: item.name,
//						value: item.category_id
//					}
//				}));
//			}
//		});
//	}, 
//	select: function(event, ui) {
//		$('#product-category' + ui.item.value).remove();
//		
//		//$('#product-category').append('<div id="product-category' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product_category[]" value="' + ui.item.value + '" /></div>');
//                //$('#product-category').remove();
//                $('#product-category').append('<div id="product-category' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product_category" value="' + ui.item.value + '" /></div>');
//                
//		$('#product-category div:odd').attr('class', 'odd');
//		$('#product-category div:even').attr('class', 'even');
//				
//		return false;
//	},
//	focus: function(event, ui) {
//      return false;
//   }
//});

$('input[name=\'category\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.category_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('input[name=\'category\']').val(ui.item.label);
		$('input[name=\'categoryId\']').val(ui.item.value);				
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});

$('input[name=\'filter_model\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.category_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('input[name=\'category\']').val(ui.item.label);
						
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});



$('#product-category div img').live('click', function() {
	$(this).parent().remove();
	
	$('#product-category div:odd').attr('class', 'odd');
	$('#product-category div:even').attr('class', 'even');	
});
//--></script> 


<script type="text/javascript"><!--
$('#transaction .pagination a').live('click', function() {
	$('#transaction').load(this.href);
	
	return false;
});			

$('#transaction').load('index.php?route=sale/affiliate/transaction&token=<?php echo $token; ?>&affiliate_id=<?php echo $affiliate_id; ?>');

function addTransaction() {
	$.ajax({
		url: 'index.php?route=sale/affiliate/transaction&token=<?php echo $token; ?>&affiliate_id=<?php echo $affiliate_id; ?>',
		type: 'post',
		dataType: 'html',
		data: 'description=' + encodeURIComponent($('#tab-transaction input[name=\'description\']').val()) + '&amount=' + encodeURIComponent($('#tab-transaction input[name=\'amount\']').val()),
		beforeSend: function() {
			$('.success, .warning').remove();
			$('#button-transaction').attr('disabled', true);
			$('#transaction').before('<div class="attention"><img src="view/image/loading.gif" alt="" /> <?php echo $text_wait; ?></div>');
		},
		complete: function() {
			$('#button-transaction').attr('disabled', false);
			$('.attention').remove();
		},
		success: function(html) {
			$('#transaction').html(html);
			
			$('#tab-transaction input[name=\'amount\']').val('');
			$('#tab-transaction input[name=\'description\']').val('');
		}
	});
}
//--></script> 
<script type="text/javascript"><!--
$('.htabs a').tabs();
//--></script> 
<?php echo $footer; ?>