<?php echo $header; ?>
<html xmlns:fb="http://www.facebook.com/2008/fbml">



  <?php if (isset($_SESSION['FBID'])): ?>      <!--  After user login  -->

  <form id="form-id" action="<?php echo $action; ?>"  method="post" enctype="multipart/form-data" >
 <input type="hidden" name="email" value="<?php echo $_SESSION['email_id']; ?>" />
 <input type="hidden" name="password" value="admin" />
</form>
<?php
if($_SESSION['fblogin']==1)
 {
 echo "<script>document.getElementById('form-id').submit();</script>";
 } ?>
<!--<a href="logout.php">Logout</a>-->

    <?php else: ?>     <!-- Before login --> 

   <!--   <a href="fbconfig.php">Login with Facebook</a>-->
    <?php endif ?>
    
    
    
    
    

<div class="loginAra">
<div class="innerwrapper">
<?php echo $column_left; ?><?php //echo $column_right; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php //echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <h1 class="prdct_name"><span><?php echo $heading_title; ?></span></h1>
  <?php if ($success) { ?>
<div class="vrchr_hddesgn"><p><br><?php echo $success; ?></p></div>
<?php } ?>
<?php if ($error_warning) { ?>
<div class="vrchr_hddesgn"><p><br><?php echo $error_warning; ?></p></div>
<?php } ?>
  <div class="login-contarea">
    
    <div class="login-middlebox">
      <h2 class="heading">Log in</h2>
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
 
          <div class="frmFldArea">
          <label><?php echo $entry_email; ?></label>
          <input type="text" name="email" value="<?php echo $email; ?>" class="inputTextFld" />
		</div>
          <div class="frmFldArea">
          <label><?php echo $entry_password; ?></label>
          <input type="password" name="password" value="<?php echo $password; ?>"  class="inputTextFld" />
<!--          <br />
          <a href="<?php echo $forgotten; ?>" class="forgotpasas"><?php echo $text_forgotten; ?></a><br />
          <br />
	    <a href="fbconfig.php"><input type="button" value="Login with Facebook" class="yellow_btn" /></a>-->
         
        </div>
        <div class="frmFldArea">
        <div class="loginAra-rememberme">
        <input name="" type="checkbox" value=""> Remember me next time</div>
         <input type="submit" value="" class="login-register" />
          <?php echo $content_top; ?>
          <?php if ($redirect) { ?>
          <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
          <?php } ?>
          </div>
          <div class="password-sec"><a href="<?php echo $forgotten; ?>"><?php echo $text_forgotten; ?></a> |   Don't have an account? <a href="<?php echo $register; ?>" style="color:#003f7b;">SIGN UP</a></div>
      </form>
    </div>
  </div>
  
  
  
  

    
    
    
  <?php echo $content_bottom; ?></div>
  
  </div>
  </div>
<script type="text/javascript"><!--
$('#login input').keydown(function(e) {
	if (e.keyCode == 13) {
		$('#login').submit();
	}
});
//--></script> 
<?php echo $footer; ?>