<?php echo $header; ?><div class="cretaccuntAra editaccnt">
<div class="innerwrapper">

<div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php //echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
 <h1 class="prdct_name"><?php echo $heading_title; ?></h1>
 
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  
   <h1 class="prdct_name"><?php echo $heading_title; ?></h1>
  <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
    <div class="content">
      <table class="form">
        <tr>
          <td><?php echo $entry_newsletter; ?></td>
          <td><?php if ($newsletter) { ?>
            <input type="radio" name="newsletter" value="1" checked="checked" />
           <?php echo $text_yes; ?>
            <input type="radio" name="newsletter" value="0" />
           <?php echo $text_no; ?>
            <?php } else { ?>
            <input type="radio" name="newsletter" value="1" />
           <?php echo $text_yes; ?>
            <input type="radio" name="newsletter" value="0" checked="checked" />
           <?php echo $text_no; ?>
            <?php } ?></td>
        </tr>
      </table>
    </div>
   
      <div class="right"><input type="submit" value="<?php echo $button_continue; ?>" class="yellow_btn" /></div>
   
  </form>
  <?php echo $content_bottom; ?></div></div></div>
<?php echo $footer; ?>