
.blueMobileMenu {
	color:#fff;
	display:block;
	margin: 0;		
	padding: 0;
	position: relative;
	font-size:1em;
	z-index:1000;
	display:none;
	right:0px;
}

.blueMobileMenuIcon {
    background: url(../images/menu-arrow/menu_icon.png) center center no-repeat #29abe2;
    height: 22px;
    /*margin-bottom: 10px;*/
    padding: 10px;
    vertical-align: middle;
    width: 26px;
	border-radius:3px;
	cursor:pointer;
}

.blueMobileMenu li:hover {
	background-color:orangered;
}

.blueMobileMenuIcon {
	display: none;
}

.blueMobileMenu li {
	background:#2f659a;
	border-bottom: solid 1px #407aaf;
	cursor:pointer;
	float:left;
	padding:12px 18px;
	list-style:none;
}

.blueMobileMenu li a {
	color:#fff;
	text-decoration: none;
}

.blueMobileMenu li ul li {
	background: #407aaf;
	border-bottom:solid 1px #fff;
	float:none;
}

.blueMobileMenu li ul li ul li {
	background: #66a5da;
}

.blueMobileMenu li ul li ul li ul li {
	background:#91b4d1;
}

.blueMobileMenu li ul {
	/*margin: 12px -18px -13px -58px;*/
	margin:12px -18px -13px;
	position: absolute;
}

.blueMobileMenu > li {
	border-right: solid 1px #fff;
}

.closed > ul {
	display: none;
}

.icon {
	float:right;
	height:15px;
	margin: 1px 0px 0px 10px;
}

@media (max-width: 767px) {
	.blueMobileMenuIcon {
		display: block;
	}

	.blueMobileMenu {
		color:#5c5c5c;
		display:none;
		margin: 0;
		padding: 0;
		/*position: relative;*/
		position:absolute;
		font-size:1em;
		z-index:1000;
		width:100%;
		border-top:#5c5c5c solid 3px;
		right:0px !important;
		overflow:hidden;
	}

	.blueMobileMenu li {
		background:#fff;
		border-bottom: solid 1px #d9d9d9;
		cursor:pointer;
		float:none;
		padding:12px 18px;
		position: relative;
		list-style:none;
		text-transform:uppercase;
	}
	.secondLevel{
		/*float:left;
		position:relative;
		right:0px;*/
	}

	.blueMobileMenu > li {
		border-right: none;
	}

	.blueMobileMenu li a {
		color:#5c5c5c;
		text-decoration: none;
	}
	.blueMobileMenu li:hover{
		background:#fff;
		color:#26ade4;
		border-bottom:#26ade4 solid 1px;
	}
	.blueMobileMenu li ul li {
		background:#f6f6f6;
		border-bottom:solid 1px #dcdcdc;
		width:76%;
	}
	.blueMobileMenu li ul li:hover{
		background:#f6f6f6;
		color:#26ade4;
		border-bottom:solid 1px #dcdcdc;
	}
	.blueMobileMenu li ul li:hover a{
		color:#26ade4;
		text-decoration:none;
	}

	.blueMobileMenu li ul li ul li {
		background: #66a5da;
	}

	.blueMobileMenu li ul li ul li ul li {
		background:#91b4d1;
	}

	.blueMobileMenu li ul {
		/*margin: 12px -18px -13px -58px;*/
		margin:12px -58px -13px;
		position: relative;
	}

	.closed > ul {
		display: none;
	}

	.icon {
		float:right;
		height: 25px;
		margin-top: -4px;
	}
}