
/********************* custom css *******************/

.dropdown, .dropdown1, .dropdown2 { font-size:13px; margin:1px;}
.dropdown dd, .dropdown1 dd, .dropdown2 dd, .dropdown dt, .dropdown1 dt, .dropdown2 dt, .dropdown ul, .dropdown1 ul, .dropdown2 ul { margin:0px; padding:0px; }
.dropdown dd, .dropdown1 dd, .dropdown2 dd { position:relative; }
.dropdown a, .dropdown1 a, .dropdown, .dropdown1 a:visited   { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover , .dropdown1 a:hover { color:#5d4617;}
.dropdown dt a:hover, .dropdown1 dt a:hover { color:#5d4617;  }
.dropdown dt a, .dropdown1 dt a , .dropdown2 dt a {background: transparent; display:block; padding-right:0px;  }
.dropdown dt a span, .dropdown1 dt a span {cursor:pointer; display:block;  line-height:25px;color:#1b303f;font-size:13px;font-family:Arial, Helvetica, sans-serif; }
.dropdown dd ul { z-index:2; }
.dropdown dd ul, .dropdown1 dd ul, .dropdown2 dd ul { background:#eeeeee; border:1px solid #ccc; color:#333; display:none;
left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:140px; list-style:none;z-index:101;}
.dropdown span.value, .dropdown1 span.value { display:none;}
.dropdown dd ul li a, .dropdown1 dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover, .dropdown1 dd ul li a:hover { background-color:#ccc;}
.dropdown .pull { margin-top:-10px; }
.dropdown img.flag, .dropdown1 img.flag { border:none; vertical-align:middle; margin-left:6px; margin-right:2px; z-index:200}
.flagvisibility { display:visible;}	
#ShopperPressCurrency dt img, #ShopperFlags dt img { margin-top:-2px; padding-right:0px; }
#ShopperFlags, #ShopperPressCurrency, #sporderby { }
#sporderby { border:1px solid #ddd; width:150px; margin-top:0px; }
.dropdown2 dt a span {cursor:pointer; display:block;  line-height:20px; }
.dropdown2 dt span { padding-left:10px; }
.dropdown2 a:visited, .dropdown2 a { color:#666; text-decoration:none; outline:none; font-size:11px; }
.dropdown2 dd ul li { padding-left:5px; border-bottom:1px solid #ddd; }
.language{ width:120px;float:right;margin:15px 0 0;border:1px solid #cddae1;background:url(../images/lan-bg.jpg) repeat-x;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.currency{ width:120px;float:right;margin:15px 7px 0 0;border:1px solid #cddae1;background:url(../images/lan-bg.jpg) repeat-x;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}

/****************************** 404 page ***************************/
.error-warp{margin:30px 0 60px;width:100%;float:left;}
.error-warp .heading{margin:0px 0 0px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:45px;color:#29abe2;text-align:center;}
.error-warp .subheading{margin:20px 0 0px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:20px;color:#1b303f;text-align:center;}
.error-warp .leftpanel{margin:40px 0 0px 0;width:43%;float:left;background:#e9e9e9;padding:2%;border-radius:3px;border:1px solid #d6d6d6;}
.quick-errorreport{margin:0px 0 0px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:20px;color:#1b303f;font-weight:bold;}
.quick-errorreportsubtext{margin:10px 0 0px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:16px;color:#1b303f;line-height:24px;}
.quick-reportbutton{margin:15px 0 0px;width:100%;float:left;}
.quick-fromrow{margin:0px 0 15px;width:100%;float:left;}
.quick-textfield{margin:0px 0 0px;width:72%;float:right !important;font-family: Arial, Helvetica, sans-serif;font-size:15px;color:#46474b;padding:13px 1% !important;background:#fff;border:1px solid #bebebe !important;outline:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.quick-messagefield{margin:0px 0 0px;width:72%;float:right !important;font-family: Arial, Helvetica, sans-serif;font-size:15px;color:#46474b;padding:8px 1%;background:#fff;border:1px solid #bebebe;outline:none;height:30px;resize:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.quick-sendmessage{margin:5px 0 0 26%;width:160px;float:left;background:url(../images/submit-feedback.png) no-repeat;border:none;outline:none;height:39px;cursor:pointer;}
.error-warp .leftpanel label{margin:13px 0 0px 0;width:18%;float:left;text-align:right;font-family: Arial, Helvetica, sans-serif;font-size:16px;color:#1b303f;cursor:inherit;}
.error-warp .smalltext{margin:10px 0 45px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:15px;color:#1b303f;text-align:center;}
.success-newsletterbox{margin:0px auto 100px;width:40%;background:#e9e9e9;border-radius:3px;border:1px solid #d6d6d6;padding:3%;display:table;}
.success-newsletterbox .heading{margin:0px 0 10px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:18px;color:#0090d3;text-align:left;}
.success-newsletterbox_input {
    background:#314251 !important;
    border: medium none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: #c9d6e2;
    float: left !important;
    font-size: 12px;
    padding:16px 10px !important;
    width: 68%;
}
.success-newsletterbox_signupbtn {
    background: url(../images/newsletter-signupbtn.png) no-repeat;
    border:none;
    float: right;
    width: 98px;
	height:44px;
	margin:0 0 0 1%;
}
.success-newsletterbox_signupbtn {
    background: url(../images/newsletter-signupbtn.png) no-repeat;
    border:none;
    float: right;
    width: 98px;
	height:44px;
	margin:0 0 0 1%;
}
.frequently-box{width:100%;float:left;margin:10px 0 40px;}
.frequently-heading{width:100%;float:left;margin:0 0 15px;}
.frequently-innerbox{width:100%;float:left;margin:0 0 0;}
.frequently-innerbox .leftbox{width:auto;float:left;margin:0 40px 0 0;}
.frequently-innerbox .rightbox{width:auto;float:left;margin:0 0 0;}
.frequently-innerbox .leftbox-row{float:left;margin:0 0 0;}
.frequently-innerbox .leftbox-plusrow{float:left;margin:29px 12px;}
.frequently-innerbox .rightbox-text{margin:6px 0 5px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#3a3a3a;text-align:left;}
.frequently-innerbox .right-addtocart{background: url(../images/cart-threebtn.png) no-repeat left bottom;
    border:none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 0px;
    padding: 12px 13px 7px 51px;
    text-shadow: 1px 1px #a76321;
    width: auto;
	float:left;
	}
.frequently-bottomtext1{margin:10px 0 0;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#3a3a3a;text-align:left;}
.frequently-bottomtext2{margin:10px 0 0px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#3a3a3a;text-align:left;}
.frequently-bottomtext3{margin:10px 0 0px;width:100%;float:left;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#3a3a3a;text-align:left;}
