#allproduct_child {
	height: auto !important;
}
/************** Skin 2 *********************/




.dropdownlist {
	text-align: left;
	color: #50606f;
	float: left;
	width: 100% !important;
}
.dropdownlist .ddTitle {
	padding: 4px 0px;
	margin: 0 0 0 0;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 14px;
	background: #fff url(../images/select-arrow-bg.png) right center no-repeat;
	/*-moz-border-radius:0px 0px 8px 8px;
    -webkit-border-radius:0px 0px 8px 8px;
    -khtml-border-radius:0px 0px 8px 8px;
    border-radius:0px 0px 8px 8px;*/
	border: #CCC solid 1px;
	font-size: 11px;
	color: #686868;
}
.dropdownlist .ddTitle span.arrow {
	display: none;
	background: transparent url(../images/icon-arrow.png) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 27px;
	height: 20px;
	cursor: pointer;
	top: 5px;
	position: relative;
	right: 2px;
}
.dropdownlist .ddTitle span.ddTitleText {
	text-indent: 1px;
	overflow: hidden;
	_position: relative;/* _top:4px;*/
	padding-left: 6px;
	color: #50606f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.dropdownlist .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 10px 0 15px;
	color: #232323;
}
.dropdownlist .ddTitle img.selected {
	padding: 0 2px 0 0;
	vertical-align: top;
}
.dropdownlist .ddChild {
	position: absolute;
	border: 1px solid #fff;
	border-top: none;
	display: none;
	margin: 0;
	width: 100%;
	overflow: auto;
	overflow-x: hidden !important;
	background-color:#fff;
	font-size: 12px;
	box-shadow:#999 0px 0px 1px;
	/*width:108px !important;*/

}
.dropdownlist .ddChild .opta a, .dd2 .ddChild .opta a:visited {
	padding-left: 10px
}
.dropdownlist .ddChild a {
	display: block;
	padding: 4px 0 4px 14px;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border-top: 1px solid #fff;
}
.dropdownlist .ddChild a:hover {
	/*background-color:#CAE7F0;*/
	color: #09F;
}
.dropdownlist .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}
.dropdownlist .ddChild a.selected {
	background-color:#09F;
	color: #fff;
}
.dropdownlist .borderTop {
	border-top: 1px solid #c3c3c3 !important;
}
.dropdownlist .noBorderTop {
	border-top: none 0 !important
}
.league-directoty-drop-field {
	width: 100%;
	background: #f8f8f8;
	width: 100%;
	height: 39px;
	-moz-box-shadow: inset -3px 2px 9px #a6adb2;
	-webkit-box-shadow: inset -3px 2px 9px #a6adb2;
	box-shadow: inset -3px 2px 9px #a6adb2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.selectbox1 select {
	width: 100%;
}
 @media only screen and (min-width: 768px) and (max-width: 900px) {
.dropdownlist .ddTitle span.ddTitleText {
	font-size: 15px;
}
.dropdownlist .ddTitle {
	height: 27px;
	padding: 11px 0 0;
}
}
