﻿#horizontalTab{
	width:100%;
	float:left;
	margin-top:12px;
}
ul.resp-tabs-list{
    margin: 0px 0 -1px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
	float:left;
	width:100%;
	position:relative;
}

.resp-tabs-list li {
    font-size: 15px;
    display: inline-block;
    padding:12px 20px;
    margin: 0 10px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
	border-top:#b2d0dc solid 1px;
	border-left:#b2d0dc solid 1px;
	border-right:#b2d0dc solid 1px;
	border-bottom:#bebebe solid 1px;
	background:url(../images/tab-bg.png) repeat-x top left;
	color:#1b303f;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	border-radius:5px 5px 0 0;
	text-transform:uppercase;
}

.resp-tabs-container {
    padding: 2.5%;
    background-color: #fff;
	width:95%;
	float:left;
	border:1px solid #bebebe;
/*    clear: left;*/
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-tab-active {
    border-top: 1px solid #bebebe !important;
	border-left: 1px solid #bebebe !important;
	border-right: 1px solid #bebebe !important;
	border-bottom: 1px solid #fff !important;
    border-bottom: none;
    margin-bottom: 0px !important;
    padding: 12px 20px;
	background:#fff !important;
	color:#29abe2 !important;
	font-size:15px;
	font-weight:bold;
	
}

.resp-tab-active {
    border-bottom: none;
    background-image:transparent;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border-top:#e6e6e6 solid 3px;*/
	
	background:#fff;
/*	border-top:#d7dbdd solid 3px;*/
}

h2.resp-accordion {
   background: url("../images/tab-bg.png") repeat-x scroll left bottom;
    border: 1px solid #C1C1C1;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 6px 0px;
    width: 100%;
	margin-bottom:2px;
	color:#00498f;
	text-indent:15px;
}

h2.resp-tab-active {
    padding: 6px 0px !important;
	background: url("../images/tab-bg.png") repeat-x scroll left bottom #EFEFEF;
    border: 1px solid #C1C1C1;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    /*border-left: 0px solid transparent;
    border-right: 16px solid transparent;
    border-top: 12px solid #c1c1c1;*/
	border-bottom: 5px solid transparent;  /* left arrow slant */
	border-top: 5px solid transparent; /* right arrow slant */
	border-left: 5px solid #2f2f2f; /* bottom, add background color here */
	margin-right:10px;
	
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    /*border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;*/
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #2f2f2f;
	margin-top: 6px;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    /*background: #DBDBDB !important;*/
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
	
.resp-tabs-list li {
    font-size: 12px;
    padding: 10px 8px;
}
	
}
@media only screen and (min-width:901px) and (max-width: 1024px) {
	
.resp-tabs-list li {
    padding: 12px;
}
	
}