.banner-section{
	width: 100%;
	float:left;
	background:url(../images/slider-bg.jpg) center center no-repeat;
	background-size:cover;
}
.flexslider {width: 100%;float:left; height: 490px;}
.flexslider .slides li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative;}
.flexslider .slides  li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flexslider-container {position: relative;}
.flexslider-con{
	width:50%;
	float:right;
	margin:125px 0 0;
}
.da-img{
	width:50%;
	float:left;
	margin: 0 0 0px;
}
.da-link{
	   float: left;
    margin: 30px 0 0;
    width: 100%;
}
.flexslider-con h2{
	color: #095a93;
	font-size: 40px;
	width:100%;
	text-shadow: 2px 2px 0 #fbfbfb;
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 700;
	float:right;
}
.flexslider-con p{
	width:100%;
	float:right;
	margin:15px 0 0;
	color: #12202a;
	font-size: 17px;
	font-family: 'Economica', Arial, sans-serif;
}

/* Caption style */
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 15px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 32px; height: 62px; margin: 0px 0 0; display: block; position: absolute; top: 47%; cursor: pointer; text-indent: -9999px;} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.flex-direction-nav li a.next {right: -40px; background:url(../images/slider-rightarrow.png) 0 0 no-repeat;}
.flex-direction-nav li a.prev {left: -40px;background:url(../images/slider-leftarrow.png) 0 0 no-repeat;}
.flex-direction-nav li a.next:hover{background:url(../images/slider-rightarrowactive.png) 0 0 no-repeat;}
.flex-direction-nav li a.prev:hover{background:url(../images/slider-leftarrowactive.png) 0 0 no-repeat;}

/* Control Nav */
.flex-control-nav {    bottom: 0;
    left: 50%;
    position: absolute;} /* set negative margin-left equal to half the width on the control-nav for perfect centering */
.flex-control-nav li {margin: 0 0 0 5px; float: left;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {  background: none repeat scroll 0 0 #8eb0bb;
    cursor: pointer;
    display: block;
    height: 7px;
    text-indent: -9999px;
    width: 29px;}
.flex-control-nav li a:hover {background: #095a93;}
.flex-control-nav li a.active {background: #095a93;cursor: pointer;}

@media only screen and (min-width:581px) and (max-width: 767px) {
	.flexslider-con {
    margin: 46px 0 0;
    width: 50%;
}
.flexslider-con h2 {
    font-size: 38px;
}
.flexslider-con p {
    font-size: 20px;
}
.flexslider {
    height: 286px;
}
.flex-direction-nav{display:none;}
	
}

@media only screen and (min-width:768px) and (max-width:900px) {
	.flexslider-con {
    margin: 75px 0 0;
    width: 50%;
}
.flexslider-con h2 {
    font-size: 38px;
}
.flexslider-con p {
    font-size: 20px;
}
.flexslider {
    height: 350px;
}
.flex-direction-nav{display:none;}
	
}