@media only screen and (min-width: 320px) and (max-width: 479px) {
	
.hd_leftpart {
    width: 100%;
	text-align:center;
}
.hd_rightpart {
    width: 100%;
}
.id_hed_list {
    display: inline-table;
    float: none;
    text-align: center;
    width: 100%;
}
.id_hed_list ul li{
	display: inline-table;
    float: none;
    text-align: center;
	margin: 0 23px;
}
.di_from_box_inner2_bg {
    padding: 0 4%;
    width: 92.8%;
}
.di_welcome_box_text {
    font-size: 33px;
	margin: 40px 0 20px;
}
.di_welcome_box_para {
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    width: 100%;
	margin-bottom: 12px;
}
.di_white_box_text {
    font-size: 30px;
    margin: 8px 0 30px;
}
.product-box {
    margin-bottom:0px;
}
.di_product_box {
    margin: 0 5% 30px;
    width: 88%;
}
.di_product_box:last-child {
    margin: 0 5% 30px;
    width: 88%;
}
.di_delivery_box {
    width: 100%;
}
.di_form_box {
    width: 100%;
}
.di_from_box_inner2 {
	padding:0;
    width: 99%;
}
.di_from_callus_now {
    font-size: 18px;
	margin-top:10px;
}
.joinus_main_form_box_inner_part_lab {
    font-size: 13px;
	width:100%;
}
.footer_menu_list ul li a {
    font-size: 12px;
    padding: 0 8px;
}
.footer_menu_list {
	float:left;
    margin:0;
    padding: 0;
    width: 100%;
}
.di_form_box_inner1 {
    background:#72a750;
	height:44px;
	padding:0;
	float:none;
	text-align:center;
	width:100%;
	line-height:45px;
}
.get_pic_box img {
    height: 107px;
    top: 290px;
    width: 33px;
}
.join-main-formrgt {
    width: 100%;
}
.joinus_main_form_box_inner_part_input {
    width: 96%;
}
.joinus_main_form_box_inner_part_input1 {
    width: 22%;
	margin: 0 11px 0 0;
}
.joinus_main_form_box_inner_part_input2 {
    width: 33%;
	margin:0;
}
.joinus_main_form_box_inner_part_input3 {
    width: 96%;
}
.joinus_text {
    width: 96%;
}
.joinus_main_form_box_inner_part_lab2 {
    width:0;
}
.joinus_main_form_box_inner_part_input4 {
    width: 44%;
}.joinus_main_form_box_inner_part_input5 {
    width: 43%;
}
.joinus_main_form_box_inner_part_bott {
	width: 265px;
	float:left;
	margin-bottom:10px;
}
.di_form_box_bottom {
    background:none;
}
.joinus_main_form_box_inner_part {
    margin: 5px 0;
}
.joinus_main_form_box_inner_part_massage {
    margin: 5px 0 7px;
}
.footer_ibox {
    width: 100%;
}
.footer_text_box {
    font-size: 11px;
}
.footer_text_box2 {
	float:none;
    text-align: center;
}
.footer_iboxs2 {
    margin: 0 auto;
    width: 60%;
	float:none;
}
.footer_icon_box img {
    margin: 0 0 0 8%;
}
.footer_menu_list ul {
    padding: 16px 0 0;
}
.footer_menu_list ul li {
	margin:0 0 15px;
}
.di_delivery_hd {
    font-size: 28px;
    padding: 0 0 0 5%;
	line-height:25px;
}
.di_delivery_pic_box {
    background:url(../image/mob_delivery.png) no-repeat 0 0;
}
.white_main_box {
    padding: 0 0 20px;
}
.di_botion_box {
    width:55%;
}
.header-searchbox {
    width:100%;
}
.search-box {
    width: 81%;
	height:38px;
	background:#fff;
	border:2px solid #a5b998;
	border-right:0;
	border-radius:5px 0 0 5px;
	-moz-box-shadow: inset 5px 4px 5px #efefef;
-webkit-box-shadow: inset 5px 4px 5px #efefef;
box-shadow: inset 5px 4px 5px #efefef;
}
.banner_bg{
	display:none;
}
/***products***/
.products-txt {
    font-size: 20px;
    margin: 30px 0 18px;
}
.get-quotetxt {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 55px;
    text-align: justify;
    width: 100%;
}
.get-form {
    width: 100%;
}
.get-formtxtfield1 {
    width: 18%;
}
.get-formtxtfield2 {
    width: 24%;
}
/***Contact***/
.contact-lft {
    margin-bottom: 30px;
    width: 100%;
}
.contact-rgt {
    margin-left: 0;
    width: 100%;
}
/***Product Details***/
.product-detailslft {
    width: 100%;
}
.product-detailsrgt {
    margin: 20px 0 0;
    width: 100%;
}
.product-details-txtfield {
    width: 15%;
}
.product-detailsrgt-txt1 {
    font-size: 15px;
}
/******Search result*******/

.search-formtxtfield {
    width: 40%;
}
/************************************ login pages ********************************/

.login-sectionfulldiv {
    margin: 30px 0 0;
}
.login-leftsection {
    width: 94%;
}
.login-rightsection {
    float: left;
    margin: 30px 0 0;
    width: 94%;
}
.login-rightsection-fromboxtext {
    margin: 0 0 5px;
    width: 100%;
}
.login-rightsection-fromboxtextfield {
    float: left;
    width: 94%;
}
.login-continue-button2 {
    margin: 0 0 20px;
}
.login-rightsection-requiredtext {
    margin: 10px 0 7px;
}

/************************************ register page ********************************/

.register-fullsection {
    margin: 20px 0 0;
}
.register-inner-frombox {
    margin: 0 0 15px;
    width: 100%;
	min-height:0px;
}
.drop-p {
    width: 100%;
}
.register-inner-fromboxtext {
    margin: 0 0 5px;
    width: 100%;
}
.register-inner-fromboxtextfield {
    width: 95%;
}
.register-inner-bottomsection {
    margin: 0;
    width: 100%;
}

/************************************ checkout page ********************************/

.checkout-inner-leftpanel {
    width: 100%;
}
.checkout-inner-rightpanel {
    margin: 30px 0 0;
    width: 100%;
}
.confirm-productname-rawbox {
    width: 100%;
}
.confirm-model-rawbox {
    margin: 15px 0 0;
    width: 100%;
}
.confirm-quantati-rawbox {
    margin: 15px 0 0;
    width: auto;
}
.confirm-price-rawbox {
    margin: 15px 0 0;
	width:auto;
}
.confirm-total-rawbox {
    margin: 15px 0 0;
	width:auto;
}
.confirm-subtotal-text {
    margin: 10px 0 0;
    width: 62%;
}
.confirm-subtotal-pricetext {
    margin: 10px 0 0;
    width: 35%;
}
.cheakout-inner-bottom-cheakbox {
    margin: -43px 7px 0 0;
    float:left;
}
.cheakout-inner-bottom-cheakboxtext {
    margin: 10px 10px 0 27px;
}

.myaccount-leftmenu {
    width: 99%;
}
.myaccount-leftmenu-list ul li a {
    width: 90%;
}
.myaccount-rightsection {
    margin: 30px 0 0;
    width: 100%;
}
.myaccount-rightsection-rawbox2 {
    display: none;
}
.myaccount-rightsection-rawbox {
    margin: 0 3% 35px;
    width: 44%;
}
.myaccount-fullwarp {
    margin: 20px 0 0;
}
.productdetails-rawboxleftsection {
    width: 100%;
}
.sitemap_main_box_left {
    margin: 0 0 25px;
    width: 100%;
}
.sitemap_main_box_right {
    width: 100%;
}
.sitemap_pic_box2 {
    width: 96%;
}
.sitemap-inner-inbox {
    width: 100%;
}
.productdetails-pricetext span {
    display: inline;
}
/*****Shopping cart********/
.cat_last_box_right {
    width: 100%;
}
/*********************************** My Account*************************************/

.account-dashboardline {
    margin: 14px 5% 0;
    border-top:0;
}
.account-dashboardline span {
    font-size: 22px;
    padding: 0 37px;
}
.account-dashboardbox {
    margin: 50px auto 30px;
    width: 85%;
}
.account-dashboardbox ul li {
    width: 100%;
    margin-bottom: 30px;
}
}

@media only screen and (min-width: 480px) and (max-width: 579px) {
.hd_leftpart {
    width: 100%;
		text-align:center;
}
.hd_rightpart {
    width: 100%;
}
.id_hed_list {
    display: inline-table;
    float: none;
    text-align: center;
    width: 100%;
}
.id_hed_list ul li{
	display: inline-table;
    float: none;
    text-align: center;
	margin: 0 23px;
}
.di_from_box_inner2_bg {
    padding: 0 4%;
    width: 92.8%;
}
.di_welcome_box_text {
    font-size: 33px;
	margin: 40px 0 20px;
}
.di_welcome_box_para {
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    width: 100%;
	margin-bottom: 12px;
}
.di_white_box_text {
    font-size: 30px;
    margin: 8px 0 30px;
}
.product-box {
    margin-bottom:0px;
}
.di_product_box {
    margin: 0 20% 30px;
    width: 60%;
}
.di_product_box:last-child {
    margin: 0 20% 30px;
    width: 60%;
}
.di_delivery_box {
    width: 100%;
}
.di_form_box {
    width: 100%;
}
.di_from_box_inner2 {
	padding:0;
    width: 99%;
}
.di_from_callus_now {
    font-size: 18px;
	margin-top:10px;
}
.joinus_main_form_box_inner_part_lab {
    font-size: 13px;
}
.footer_menu_list ul li a {
    font-size: 12px;
    padding: 0 8px;
}
.footer_menu_list {
	float:left;
    margin:0;
    padding: 0;
    width: 100%;
}
.di_form_box_inner1 {
    background: none repeat scroll 0 0 #72A750;
    float: none;
    height: 44px;
    line-height: 45px;
    padding: 0 4%;
    text-align: left;
    width: 92%;
}
.get_pic_box img {
    height: 107px;
    top: 290px;
    width: 33px;
}
.joinus_main_form_box_inner_part_input {
    width: 96%;
}
.joinus_main_form_box_inner_part_input1 {
    width: 22%;
	margin: 0 11px 0 0;
}
.joinus_main_form_box_inner_part_input2 {
    width: 34%;
	margin:0;
}
.joinus_main_form_box_inner_part_input3 {
    width: 96%;
}
.joinus_main_form_box_inner_part_input4 {
    width: 44%;
}.joinus_main_form_box_inner_part_input5 {
    width: 43%;
}
.joinus_main_form_box_inner_part_bott {
	width: 265px;
	float:left;
	margin-bottom:20px;
}
.di_form_box_bottom {
    background:none;
}
.joinus_main_form_box_inner_part {
    margin: 5px 0;
}
.joinus_main_form_box_inner_part_massage {
    margin: 5px 0 7px;
}
.footer_ibox {
    width: 100%;
}
.footer_text_box {
    font-size: 12px;
}
.footer_text_box2 {
	float:none;
    text-align: center;
}
.footer_iboxs2 {
    margin: 0 auto;
    width: 60%;
	float:none;
}
.footer_icon_box {
    text-align: center;
}
.footer_icon_box img {
    margin: 0 0 0 8%;
	float:none;
}
.footer_menu_list ul {
    padding: 16px 0 0;
}
.footer_menu_list ul li {
	margin:0 0 15px;
}
.di_delivery_hd {
    font-size: 28px;
    padding: 0 0 0 5%;
	line-height:25px;
}
.di_delivery_pic_box {
    background:url(../image/mob_delivery.png) no-repeat 0 0;
}
.white_main_box {
    padding: 0 0 20px;
}
.di_botion_box {
    width:55%;
}
.header-searchbox {
    width:100%;
}
.search-box {
    width: 81%;
}
.banner_bg{
	display:none;
}
.search-box {
    width: 86%;
	height:38px;
	background:#fff;
	border:2px solid #a5b998;
	border-right:0;
	border-radius:5px 0 0 5px;
	-moz-box-shadow: inset 5px 4px 5px #efefef;
	-webkit-box-shadow: inset 5px 4px 5px #efefef;
	box-shadow: inset 5px 4px 5px #efefef;
}
/***products***/
.products-txt {
    font-size: 20px;
    margin: 30px 0 18px;
}
.get-quotetxt {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 55px;
    text-align: justify;
    width: 100%;
}
.get-form {
    width: 100%;
}
.get-formtxtfield1 {
    width: 18%;
}
.get-formtxtfield2 {
    width: 24%;
}
/***Contact***/
.contact-lft {
    margin-bottom: 30px;
    width: 100%;
}
.contact-rgt {
    margin-left: 0;
    width: 100%;
}
/***Product Details***/
.product-detailslft {
    width: 100%;
}
.product-detailsrgt {
    margin: 20px 0 0;
    width: 100%;
}
.product-details-txtfield {
    width: 15%;
}
.product-detailsrgt-txt1 {
    font-size: 15px;
}
/******Search result*******/

.search-formtxtfield {
    width: 40%;
}
/************************************ login pages ********************************/

.login-sectionfulldiv {
    margin: 30px 0 0;
}
.login-leftsection {
    width: 94%;
}
.login-rightsection {
    float: left;
    margin: 30px 0 0;
    width: 94%;
}
.login-rightsection-fromboxtext {
    margin: 0 0 5px;
    width: 100%;
}
.login-rightsection-fromboxtextfield {
    float: left;
    width: 94%;
}
.login-continue-button2 {
    margin: 0 0 20px;
}
.login-rightsection-requiredtext {
    margin: 10px 0 7px;
}

/************************************ register page ********************************/

.register-fullsection {
    margin: 20px 0 0;
}
.register-inner-frombox {
    margin: 0 0 15px;
    width: 100%;
}
.register-inner-fromboxtext {
    margin: 0 0 5px;
    width: 100%;
}
.register-inner-fromboxtextfield {
    width: 95%;
}
.register-inner-bottomsection {
    margin: 0;
    width: 100%;
}

/************************************ checkout page ********************************/

.checkout-inner-leftpanel {
    width: 100%;
}
.checkout-inner-rightpanel {
    margin: 30px 0 0;
    width: 100%;
}
.confirm-productname-rawbox {
    width: 100%;
}
.confirm-model-rawbox {
    margin: 15px 0 0;
    width: 100%;
}
.confirm-quantati-rawbox {
    margin: 15px 0 0;
    width: auto;
}
.confirm-price-rawbox {
    margin: 15px 0 0;
	width:auto;
}
.confirm-total-rawbox {
    margin: 15px 0 0;
	width:auto;
}
.confirm-subtotal-text {
    margin: 10px 0 0;
    width: 62%;
}
.confirm-subtotal-pricetext {
    margin: 10px 0 0;
    width: 35%;
}
.cheakout-inner-bottom-cheakbox {
    margin: -43px 7px 0 0;
	float:left;
}
.cheakout-inner-bottom-cheakboxtext {
    margin: 10px 10px 0 27px;
}

.myaccount-leftmenu {
    width: 99%;
}
.myaccount-leftmenu-list ul li a {
    width: 90%;
}
.myaccount-rightsection {
    margin: 30px 0 0;
    width: 100%;
}
.myaccount-rightsection-rawbox2 {
    display: none;
}
.myaccount-rightsection-rawbox {
    margin: 0 3% 35px;
    width: 44%;
}
.myaccount-fullwarp {
    margin: 20px 0 0;
}
/*****Shopping cart********/
.cat_last_box_right {
    width: 100%;
}
/*********************************** My Account*************************************/

.account-dashboardline {
    margin: 14px 5% 0;
    border-top:0;
}
.account-dashboardline span {
    font-size: 22px;
    padding: 0 37px;
}
.account-dashboardbox {
    margin: 50px auto 30px;
    width: 85%;
}
.account-dashboardbox ul li {
    width: 100%;
    margin-bottom: 30px;
}
}

@media only screen and (min-width: 580px) and (max-width: 767px) {


.hd_leftpart {
    margin: 24px 0 0;
    text-align: center;
    width: 100%;
}
.hd_rightpart {
    width: 100%;
}
.id_hed_list {
    display: inline-table;
    float: none;
    text-align: center;
    width: 100%;
}
.id_hed_list ul li{
	display: inline-table;
    float: none;
    text-align: center;
	margin: 0 12px;
}
.header-searchbox {
    float: none;
    margin: 10px auto 20px;
    width: 55%;
	overflow:hidden;
}
.search-box {
    width: 81%;
	height:38px;
	background:#fff;
	border:2px solid #a5b998;
	border-right:0;
	border-radius:5px 0 0 5px;
	-moz-box-shadow: inset 5px 4px 5px #efefef;
	-webkit-box-shadow: inset 5px 4px 5px #efefef;
	box-shadow: inset 5px 4px 5px #efefef;
}
.contant_box_lower {
    margin-bottom:0px;
}
.di_welcome_box_text {
    font-size: 38px;
    margin: 35px 0 20px;
}
.di_welcome_box_para {
    font-size: 18px;
	line-height:32px;
}
.di_white_box_text {
    font-size: 38px;
    margin: 30px 0 40px;
}
.product-box {
    margin-bottom:0px;
}
.di_product_box {
    margin: 0 3% 30px;
    width: 40%;
}
.di_product_box:last-child {
    margin: 0 3% 30px;
    width: 40%;
}
.di_delivery_box {
    width: 100%;
}
.di_form_box {
    margin: 30px 0 0;
    width: 100%;
}
.di_form_box_inner1 {
     background: url("../image/tab_arrow.png") no-repeat ;
    float: none;
    height: 52px;
    margin: 0 auto;
    width: 71%;
}
.di_form_box_bottom {
	display:none;
}
.di_from_box_inner2 {
    float: none;
    margin: -15px auto 25px;
    padding: 0;
    width: 90%;
}
.di_from_box_inner2_bg {
    float: none;
    margin: 0 auto;
    overflow: hidden;
    width: 72%;
}
.di_from_callus_now {
    margin: 15px 0 0;
	font-size: 20px;
}
.joinus_main_form_box_inner_part_bott {
	margin-bottom:25px;
}
.joinus_main_form_box_inner_part_lab {
    font-size: 14px;
}
.joinus_main_form_box_inner_part_massage {
    font-size: 14px;
}
.footer_menu_list ul li a {
  padding: 0 16px;
}
.footer_iboxs2 {
    text-align: center;
    width: 100%;
}
.footer_icon_box img {
    float: none;
    text-align: center;
}	
.footer_ibox {
    width: 100%;
}
.footer_text_box2 {
    text-align: center;
    width: 100%;
}
/***products***/
.products-txt {
    font-size: 20px;
    margin: 30px 0 18px;
}
.get-quotetxt {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 55px;
    text-align: justify;
    width: 100%;
}
.get-form {
    width: 100%;
}
.get-formtxtfield1 {
    width: 12%;
}
.get-formtxtfield2 {
    width: 14%;
}
/***Contact***/
.contact-lft {
    margin-bottom: 30px;
    width: 100%;
}
.contact-rgt {
    margin-left: 0;
    width: 100%;
}
/***Product Details***/
.product-detailslft {
    width: 100%;
}
.product-detailsrgt {
    margin: 20px 0 0;
    width: 100%;
}
.product-details-txtfield {
    width: 15%;
}
.product-detailsrgt-txt1 {
    font-size: 15px;
}

/******Search result*******/

.search-formtxtfield {
    width: 40%;
}
/************************************ login pages ********************************/

.login-sectionfulldiv {
    margin: 30px 0 50px;
}
.login-leftsection {
    width: 44%;
}
.login-rightsection {
    width: 44%;
}
.login-rightsection-fromboxtext {
    margin: 0 0 7px;
    width: 100%;
}
.login-rightsection-fromboxtextfield {
    width: 96%;
}
.login-rightsection-requiredtext {
    margin: 10px 0 7px;
}
.login-continue-button2 {
    margin: 0;
}

/************************************ register page ********************************/

.register-fullsection {
    margin: 20px 0 0;
}
.register-inner-fromboxtext {
    margin: 0 0 5px;
    width: 100%;
}
.register-inner-fromboxtextfield {
    float: left;
    width: 95%;
}
.register-inner-bottomsection {
    margin: 0;
    width: 100%;
}
.register-inner-frombox {
    margin: 0 5% 15px 0;
}
/*********************************** My Account*************************************/

.account-dashboardline {
    margin: 14px 5% 0;
}
.account-dashboardline span {
    font-size: 22px;
    padding: 0 37px;
}
.account-dashboardbox {
    width: 85%;
}
.account-dashboardbox ul li img{
    width: 90%;
}
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
.hd_leftpart {
    width: 27%;
}
.hd_rightpart {
    width: 70%;
}
.id_hed_list ul li a {
    font-size: 13px;
}
.id_hed_list ul li a {
    font-size: 13px;
}
.phono {
    font-size: 14px !important;
}
.header-searchbox {
    width: 79%;
}
.search-box {
    width: 84%;
	height:38px;
	background:#fff;
	border:2px solid #a5b998;
	border-right:0;
	border-radius:5px 0 0 5px;
	-moz-box-shadow: inset 5px 4px 5px #efefef;
	-webkit-box-shadow: inset 5px 4px 5px #efefef;
	box-shadow: inset 5px 4px 5px #efefef;
}
.contant_box_lower {
    margin-bottom:0px;
}
.di_welcome_box_text {
    font-size: 38px;
    margin: 35px 0 20px;
}
.di_welcome_box_para {
    font-size: 18px;
	line-height:32px;
}
.di_white_box_text {
    font-size: 38px;
    margin: 30px 0 40px;
}
.product-box {
    margin-bottom:0px;
}
.di_product_box {
    margin: 0 3% 30px;
    width: 41%;
}
.di_product_box:last-child {
    margin: 0 3% 30px;
    width: 40%;
}
.di_delivery_box {
    width: 100%;
}
.di_form_box {
    margin: 30px 0 0;
    width: 100%;
}
.di_form_box_inner1 {
     background: url("../image/tab_arrow.png") no-repeat ;
    float: none;
    height: 52px;
    margin: 0 auto;
    width:510px;
}
.di_form_box_bottom {
	display:none;
}
.di_from_box_inner2 {
    float: none;
    margin: -15px auto 25px;
    padding: 0;
    width: 528px;
}
.di_from_box_inner2_bg {
    float: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
    width: 485px;
}
.di_from_callus_now {
    margin: 15px 0 0;
	font-size: 20px;
}
.joinus_main_form_box_inner_part_bott {
	margin-bottom:25px;
	float: left;
}
.joinus_main_form_box_inner_part_lab {
    font-size: 14px;
}
.joinus_main_form_box_inner_part_massage {
    font-size: 14px;
}
.footer_menu_list ul li a {
    padding: 0 34px;
}
/***Products***/
.get-quotetxt {
    width: 100%;
}
.get-form {
    width: 82%;
}
/***Contact***/
.contact-rgt {
    width: 46%;
}
/***Product Details***/
.product-detailslft {
    width: 36%;
}
.product-detailsrgt {
    width: 60%;
}
.product-details-txtfield {
    width: 7%;
}
.product-detailsrgt-txt1 {
    font-size: 15px;
}
/******Search result*******/

.search-formtxtfield {
    width: 33%;
}
/************************************ login pages ********************************/

.login-sectionfulldiv {
    margin: 45px 0 60px;
}
.login-leftsection {
    width: 44%;
}
.login-rightsection {
    width: 44%;
}
.login-rightsection-fromboxtext {
    margin: 0 0 7px;
    width: 100%;
}
.login-rightsection-fromboxtextfield {
    width: 96%;
}
.login-rightsection-requiredtext {
    margin: 10px 0 7px;
}
.login-continue-button2 {
    margin: 0;
}

/************************************ register page ********************************/

.register-inner-frombox {
    margin: 0 3% 0px 0;
    width: 47%;
}
.register-inner-fromboxtext {
    font-size: 15px;
    width: 34%;
}
.register-inner-fromboxtextfield {
    width: 60%;
}
.register-inner-bottomsection {
    margin: 10px 0 0 17%;
    width: 80%;
}
/*********************************** My Account*************************************/
.account-dashboardbox {
    width: 85%;
}

}

	
	
@media only screen and (min-width: 900px) and (max-width: 1024px) {	

.hd_leftpart {
    width: 35%;
}
.header-searchbox {
    float: right;
    margin: 10px 0 20px;
    width: 80%;
}
.header-searchbox {
    width: 80%;
}
.search-box {
    width: 83%;
	height:38px;
	background:#fff;
	border:2px solid #a5b998;
	border-right:0;
	border-radius:5px 0 0 5px;
	-moz-box-shadow: inset 5px 4px 5px #efefef;
	-webkit-box-shadow: inset 5px 4px 5px #efefef;
	box-shadow: inset 5px 4px 5px #efefef;
}
.di_welcome_box_text {
    font-size: 42px;
    margin: 35px 0 25px;
}
.di_welcome_box_para {
    font-size: 17px;
    line-height: 33px;
	margin-bottom: 15px;
}
.di_white_box_text {
    margin: 40px 0;
}
.di_product_box {
    margin: 0 2% 0 0;
	width:21%;
}
.di_delivery_box {
    width: 54%;
}
.di_form_box {
    width:366px;
}
.di_delivery_para_box_inner1 {
    padding: 0 0 23px;
}
.di_delivery_para {
    margin: 7px 0 15px;
    padding: 0 0 0 2%;
}
.di_delivery_hd {
    font-size: 29px;
    line-height: 30px;
    margin: 9px 0 0;
    padding: 0 0 0 4%;
}
.di_form_box_inner1 {
    background:url(../image/for_tab_view.png) no-repeat 0 0;
    height: 54px;
    width: 347px;
	font-size: 32px;
}
.di_from_box_inner2 {
    margin: -17px 0 0;
    padding: 0 0 0 5.6%;
    width: 324px;
}
.di_form_box_bottom {
    margin: 0 0 0 -1px;
    width: 346px;
}
.di_from_callus_now {
    margin: 10px 0 0;
	font-size: 19px;
}
.di_from_fill_form {
    font-size: 18px;
    margin: 3px 0 10px;
}
.joinus_main_form_box_inner_part_lab {
    font-size: 13px;
    width: 24%;
}
.joinus_main_form_box_inner_part_massage {
    font-size: 13px;
    width: 24%;
}
.joinus_main_form_box_inner_part_bott {
    background:url(../image/tab_sub2_pic.png) no-repeat 0 0;
    width: 74%;
}
.footer_menu_list ul li a {
    padding: 0 33px;
}
.footer_text_box {
    font-size: 11px;
}
.footer_text_box2 {
    font-size: 11px;
}
.joinus_text {
    font-size: 11px;
}
/***Products***/
.get-quotetxt {
    width: 100%;
}
.get-form {
    width: 72%;
}
/***Contact***/
.contact-rgt {
    width: 46%;
}
/************************************ login pages ********************************/

.login-sectionfulldiv {
    margin: 45px 0 100px;
}
.login-leftsection {
    width: 44%;
}
.login-rightsection {
    width: 44%;
}
.login-rightsection-fromboxtext {
    font-size: 17px;
}

}

@media only screen and (min-width: 1025px) and (max-width: 1079px) {
.di_product_box {
    margin: 0 3.5% 0 0;
    width: 20%;
}
.di_from_box_inner2 {
    padding: 0 0 0 5.2%;
    width: 87.5%;
}
.footer_menu_list ul li a {
    padding: 0 45px;
}
.di_form_box {
    width: 426px;
}
.di_form_box_inner1 {
    height: 54px;
    width: 426px;
	font-size: 32px;
}
.di_from_box_inner2 {
    margin: -17px 0 0;
    padding: 0 0 0 4.6%;
    width: 380px;
}
.di_form_box_bottom {
    margin: 0 0 0;
    width: 399px;
}	
.di_from_callus_now {
    font-size: 21px;
    margin: 15px 0 0;
}
.joinus_main_form_box_inner_part_lab {
    width: 26%;
}
.join-main-formrgt {
    width: 73%;
}
.di_delivery_box {
    width: 54%;
}
/***Products***/
.get-quotetxt {
    width: 100%;
}
.get-form {
    width: 72%;
}
/***Contact***/
.contact-rgt {
    width: 46%;
}
/************************************ login pages ********************************/

.login-sectionfulldiv {
    margin: 45px 0 100px;
}
.login-leftsection {
    width: 44%;
}
.login-rightsection {
    width: 44%;
}
.login-rightsection-fromboxtext {
    font-size: 17px;
}
}
@media only screen and (min-width: 1080px) and (max-width: 1150px) {
.di_product_box {
    margin: 0 3.5% 0 0;
    width: 20%;
}
.di_from_box_inner2 {
    padding: 0 0 0 5.2%;
    width: 87.5%;
}
.footer_menu_list ul li a {
    padding: 0 45px;
}
.di_form_box {
    width: 426px;
}
.di_form_box_inner1 {
    height: 54px;
    width: 426px;
	font-size: 32px;
}
.di_from_box_inner2 {
    margin: -17px 0 0;
    padding: 0 0 0 4.6%;
    width: 380px;
}
.di_form_box_bottom {
    margin: 0 0 0;
    width: 399px;
}	
.di_from_callus_now {
    font-size: 21px;
    margin: 15px 0 0;
}
.joinus_main_form_box_inner_part_lab {
    width: 26%;
}
.join-main-formrgt {
    width: 73%;
}
/***Products***/
.get-quotetxt {
    width: 100%;
}
.get-form {
    width: 72%;
}
/***Contact***/
.contact-rgt {
    width: 40%;
}
}
@media only screen and (min-width: 1151px) and (max-width: 1205px) {
.di_product_box {
    margin: 0 3.5% 0 0;
    width: 20%;
}
.di_from_box_inner2 {
    padding: 0 0 0 5.2%;
    width: 87.5%;
}
.footer_menu_list ul li a {
    padding: 0 45px;
}
.di_form_box {
    width: 426px;
}
.di_form_box_inner1 {
    height: 54px;
    width: 426px;
	font-size: 32px;
}
.di_from_box_inner2 {
    margin: -17px 0 0;
    padding: 0 0 0 4.6%;
    width: 380px;
}
.di_form_box_bottom {
    margin: 0 0 0;
    width: 399px;
}	
.di_from_callus_now {
    font-size: 21px;
    margin: 15px 0 0;
}
.joinus_main_form_box_inner_part_lab {
    width: 26%;
}
.join-main-formrgt {
    width: 73%;
}
}
@media only screen and (min-width: 1205px) and (max-width: 1250px) {
.di_product_box {
    margin: 0 3.5% 0 0;
    width: 20%;
}
.di_from_box_inner2 {
    padding: 0 0 0 5.2%;
    width: 87.5%;
}
.footer_menu_list ul li a {
    padding: 0 45px;
}
.di_form_box {
    width: 426px;
}
.di_form_box_inner1 {
    height: 54px;
    width: 426px;
	font-size: 32px;
}
.di_from_box_inner2 {
    margin: -17px 0 0;
    padding: 0 0 0 4.6%;
    width: 380px;
}
.di_form_box_bottom {
    margin: 0 0 0;
    width: 399px;
}	
.di_from_callus_now {
    font-size: 21px;
    margin: 15px 0 0;
}
.joinus_main_form_box_inner_part_lab {
    width: 26%;
}
.join-main-formrgt {
    width: 73%;
}
}

@media only screen and (min-width: 1221px) and (max-width: 1399px) {

}





