	.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	* html .cf { zoom: 1; }
	*:first-child+html .cf { zoom: 1; }

	body, h1, h2, h3 { }

	/*code { padding: 0 .5em; background: #fff2b2; }*/

	body {  }

	

	.rt { width: 100%; font-size: 0.75em;/*12*/ line-height: 1.25em;/*15*/ border-collapse: collapse; border-spacing: 0; }

	.rt th,
	.rt td { margin: 0; padding: 0.4166em;/*10*/ vertical-align: top; background: #fff; font-size:14px; }
	.rt th { text-align: left; background: #fff; font-size:14px; color:#302f2f;font-family: 'Open Sans'; font-weight:600; padding:15px; }
	#rt1 tbody tr td{}
	#rt1 tbody tr:nth-child(odd) td{
		background:#f3f3f4; color:#505050; font-size:12px;font-family: 'Open Sans'; border:#e4e4e4 solid 1px; padding:14px;
		 line-height:17px;
		}
	#rt1 tbody tr:nth-child(even) td{
		 color:#505050; font-size:12px;font-family: 'Open Sans'; padding:15px; line-height:16px;
	}
	#rt1 tbody tr td a{
		 color:#505050; font-size:12px;font-family: 'Open Sans'; padding:15px; line-height:16px; text-decoration:none; font-weight:600;
	}

	/*#rt1 tbody tr:nth-child(odd) td{background:#ff0000;}
		tr:nth-child(even) {background: #CCC}
		tr:nth-child(odd) {background: #FFF}*/


	@media only screen and (max-width: 580px) { /*640*/

		#rt1 { display: block; position: relative; width: 100%; }
		#rt1 thead { display: block; float: left; }
		#rt1 tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
		#rt1 thead tr { display: block; }
		#rt1 th { display: block; }
		#rt1 tbody tr { display: inline-block; vertical-align: top; }
		#rt1 td { display: block; min-height: 1.25em; text-align:left !important; font-size:14px; }

		#rt2 { display: block; position: relative; width: 100%; }
		#rt2 thead { display: block; float: left; }
		#rt2 tbody { display: -webkit-box; overflow-x: auto;}
		#rt2 thead td{text-align:left !important;}
		#rt2 th,
		#rt2 tr,
		#rt2 td { display: block; }
		#rt1 thead .td1{height:70px;}
		#rt1 thead .td2{height:54px;}
		#rt1 thead .td3{height:33px;}
		#rt1 thead .td4{height:41px;}
		#rt1 thead .td5{height:35px;}
		#rt1 thead .td6{height:33px;}
		
		
		#rt1 thead .tdd7{height:32px;}


		/* sort out borders */

		.rt th { border-bottom: 0; }
		.rt td { border-left: 0; border-right: 0; border-bottom: 0; }
		.rt tbody tr { /*border-right: 1px solid #babcbf;*/ }
		.rt th:last-child,
		.rt td:last-child { /*border-bottom: 1px solid #babcbf;*/ }
			.rt th {
    padding: 17px;
}
.rt tbody tr td{
	width:200px;white-space:normal;
}

}
@media only screen and (max-width:319px){
	#menu{
	display:none;
}
.innerwrapper {
    width: 90%;
}

#header {
    float: left;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 99;
}
#header #logo {
    margin-top: 20px;
    width: 34%;
}
#header #cart .content{
	width:270px;
}
.resp-tab-content {
    /*border-top:#e6e6e6 solid 3px;*/
	min-height: 981px;
	background:#fff;
	border-top:none !important;
}
.resmenuAra{
	width:auto;
	float:right;
	margin-top:20px;
}
#header #search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    float: left;
    margin-top: 10px;
    width: 78%;
    z-index: 15;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #6D6C6C;
    float: left;
    font-size: 12px;
    height: 14px;
    padding: 10px;
    width: 72%;
}
#header .button-search {
    background: url("../images/search_icon.png") no-repeat scroll center center #FFFFFF;
    border-left: 1px solid #BEBEBE;
    cursor: pointer;
    float: right;
    height: 34px;
    width: 35px;
}

#header #cart {
    float: right;
    margin-left: 15px;
    margin-top: 5px;
    position: relative;
    width: auto;
}
#header #welcome-mobile #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:block;
	width:100%;
	float:right;
	margin-top: 5px;
    text-align: left;
}
#header #welcome-desktop #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:none;
	width:auto;
	float:right;
}
/*--------------------featured slider css -----------------------------*/
.multisldrAra-wrap {
    margin: 0 auto;
    width: 82%;
}
.multisldrAra {
    float: left;
    height: 383px;
    width: 100%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url("../images/featured-image/slider-lft-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 34px;
    overflow: hidden;
    position: relative;
    right: 50px !important;
    width: 34px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url("../images/featured-image/slider-rgt-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: right;
    height: 34px;
    left: 50px !important;
    overflow: hidden;
    position: relative;
    width: 34px;
}
.featuredAra2-wrapper {
    margin: 0 auto;
    width: 83%;
}
.box .box-heading2 {
    border-bottom: 1px solid #B1BDC6;
    float: left;
    height: 56px !important;
    margin-bottom: 40px;
    padding-top: 35px;
    width: 100%;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal{
	width:155px !important;
	margin:0px 20px !important;
}
.mobilefilter{
	display:none;
}

/*--------------------------------product detail css ---------------------------------------*/

#column-left {
    float: left;
    width: 100%;
	margin-bottom:20px;
}
.productDetlAra #content{
	width:100%;
}
.overview_rgtpart{
	width:100%;
}


.overview_lftpart {
    float: left;
    padding: 0 0px;
    width: 100%;
}
.resp-tab-content {
    min-height: 100px !important;
}
.dropdownlist .ddTitle span.arrow {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 20px;
    position: relative;
    right: 2px;
    top: 5px;
    width: 14px !important;
}

.dropLstAra {
    float: left;
    width: 95px;
}
.limit b{
	display:none;
}
.newpagination li a {
    font-size: 12px;
    font-weight: 600;
    padding: 0 6px;
    text-decoration: none;
    width: auto;
}

.pagination {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 2px;
    width: auto;
}

.newpagination {
    float: left;
    padding-top: 0px;
    text-align: center;
    width: 37%;
}
.dropdownlist .ddTitle span.ddTitleText {
    padding-left: 2px;
    text-indent: 1px;
}
.catPagConAra #content{
	width:100%;
}
.lftPrt {
    float: left;
    padding-top: 10px;
    width: 100%;
}

.product-list .image {
    float: left;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
}
.prodctPrt .image a{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .image a img{
	width:auto;
}
.proInfo {
    float: left;
    width: 100%;
}
.product-list .right {
    width: 96%;
}
.product-list .right {
    background: none repeat scroll 0 0 #F0F0F0;
    float: right;
    min-height: 100px;
    padding: 10px;
	margin-top:10px;
}
.product-list .cart{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .add2cart{
	margin-left:0px;
	float:none;
}


#footer .column {
    display: none;
    float: left;
    min-height: 100px;
    width: 18%;
}

#footer .column-rgt {
    float: right;
    min-height: 20px;
    width: 100%;
	text-align:center;
}
.newslter_input{
	float:none;
	width: 83%;
}
.foot_signupbtn{
	float:none;
}
#footer h3{
	text-align:center;
	margin-bottom:5px;
}

#powered {
    color: #6A6969;
    float: left;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.footer_link {
    float: right;
    text-align: center;
    width: 100%;
}

.footer_link li {
    display: inline;
    float: none;
    list-style: none outside none;
    margin-left: 6px;
    width: auto;
}

.footer_link li a {
    float: none;
    text-decoration: none;
    width: auto;
}

.footer_btm_area {
    float: left;
    padding: 20px 0 10px;
    width: 100%;
}
#content{
	min-height:100px;
}

.prdctDetlTop .lftaara {
    float: left;
    width: 100%;
}
.prdctDetlTop .detalAra {
    float: right;
    width: 100%;
}
.prdctDetlTop .rgtara {
    float: right;
    width: 100%;
}
.proprice {
    float: left;
}
.sub_price-2 {
    min-width: 100%;
}
.checklink-2{
	display:none;
}
h2.resp-tab-active {
    padding: 6px 0px !important;
}
/*h2.resp-accordion {
    width: 89.2% !important;
}*/
.overview_lftpart .image a img {
    height: 277px !important;
}
.overview_lftpart-2 {
    width: 100%;
}
.catgoryTabb{
	display:block;
}
.catPag_box-heading{
	display:none;
}
.box .box-content{
	padding-top:10px;
	border-top: 1px solid #C1C1C1;
}
.resp-tab-content {
    border-top:none !important;
}
.box-content{
	display:none;
}

.specificationAra {
    padding-top: 15px;
}
.product-info-2 {
    padding-top: 15px;
}
.profil_TXTAra {
    float: left;
    margin-left: 10px;
    width: 68%;
}
.blueMobileMenu li ul {
    margin: 12px -18px -13px !important;
    position: relative;
}
.blueMobileMenu li ul li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #DCDCDC;
    width: 89% !important;
}
/*******************************contact us css start **********************/
.address_Ara {
    float: left;
    width: 100% !important;
}

.formmAra {
    float: right;
    width: 100% !important;
}
/******************************* contact us css end *********************/


/******************************** testimonial css start ************************/

.frmFldArea2 .capptch {
    width: 100%;
}
.frmFldArea2 .capptch .inputTextFld {
    width: 27% !important;
}
/******************************** testtimonial css ended ************************/

}

@media only screen and (min-width: 320px) and (max-width: 479px) {
#menu{
	display:none;
}
.innerwrapper {
    width: 90%;
}
.blueMobileMenu li ul {
    margin: 12px -18px -13px !important;
    position: relative;
}
.blueMobileMenu li ul li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #DCDCDC;
    width: 89% !important;
}
#header {
    float: left;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 99;
}
#header #logo {
    margin-top: 20px;
    width: 65%;
}
.currency {
    float: left;
}
#welcome img {
    float: right;
}
#header #cart .content{
	width:270px;
}
.resp-tab-content {
    /*border-top:#e6e6e6 solid 3px;*/
	min-height: 981px;
	background:#fff;
	border-top:none !important;
}
.resmenuAra{
	width:auto;
	float:right;
	margin-top:20px;
}
#header #search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    float: left;
    margin-top: 10px;
    width: 78%;
    z-index: 15;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #6D6C6C;
    float: left;
    font-size: 12px;
    height: 14px;
    padding: 10px;
    width: 72%;
}
#header .button-search {
    background: url("../images/search_icon.png") no-repeat scroll center center #FFFFFF;
    border-left: 1px solid #BEBEBE;
    cursor: pointer;
    float: right;
    height: 34px;
    width: 35px;
}

#header #cart {
    float: right;
    margin-left: 15px;
    margin-top: 5px;
    position: relative;
    width: auto;
}
#header #welcome-mobile #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:block;
	width:100%;
	float:right;
	margin-top: 5px;
    text-align: left;
}
#header #welcome-desktop #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:none;
	width:auto;
	float:right;
}
.amazone-buynow {
    margin: 0 0 0 15px;
}
.product-bottombtn .link1 {
    margin: 0 0 15px;
    width: 100%;
}
.product-bottombtn .link2 {
    margin: 0 0 15px;
    width: 100%;
}
.product-bottombtn .link3 {
    width: 100%;
}

/*--------------------featured slider css -----------------------------*/
.multisldrAra-wrap {
    margin: 0 auto;
    width: 82%;
}
.multisldrAra {
    float: left;
    width: 100%;
}
.carsoul {
    margin-top:0px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url("../images/featured-image/slider-lft-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 34px;
    overflow: hidden;
    position: relative;
    right: 50px !important;
    width: 34px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url("../images/featured-image/slider-rgt-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: right;
    height: 34px;
    left: 50px !important;
    overflow: hidden;
    position: relative;
    width: 34px;
}
.featuredAra2-wrapper {
    margin: 0 auto;
    width: 83%;
}
.box .box-heading2 {
    border-bottom: 1px solid #B1BDC6;
    float: left;
    margin-bottom: 40px;
    padding-top: 0px;
    width: 100%;
	margin-top:0;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal{
	width:155px !important;
	margin:0px 20px !important;
}
.mobilefilter{
	display:none;
}

/*--------------------------------product detail css ---------------------------------------*/

#column-left {
    float: left;
    width: 100%;
	margin-bottom:20px;
	display:none;
}
.productDetlAra #content{
	width:100%;
}
.overview_rgtpart{
	width:100%;
}
.prodct_dtl_image_area {
    float: left;
    width: 100% !important;
}
.overview_lftpart {
    float: left;
    padding: 0 0px;
    width: 100%;
}
.resp-tab-content {
    min-height: 100px !important;
}
.dropdownlist .ddTitle span.arrow {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 20px;
    position: relative;
    right: 2px;
    top: 5px;
    width: 14px !important;
}

.dropLstAra {
    float: left;
    width: 95px;
}
.limit b{
	display:none;
}
.newpagination li a {
    font-size: 12px;
    font-weight: 600;
    padding: 0 6px;
    text-decoration: none;
    width: auto;
}

.pagination {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 2px;
    width: auto;
}

.newpagination {
    float: left;
    padding-top: 0px;
    text-align: center;
    width: 37%;
}
.dropdownlist .ddTitle span.ddTitleText {
    padding-left: 2px;
    text-indent: 1px;
}
.catPagConAra #content{
	width:100%;
}
.lftPrt {
    float: left;
    padding-top: 10px;
    width: 100%;
}

.product-list .image {
    float: left;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
}
.prodctPrt .image a{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .image a img{
	width:80%;
}
.proInfo {
    float: left;
    width: 100%;
}
.product-list > div {
    margin: 0 8% 30px;
    width: 82%;
}
.product-list .cart{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .add2cart{
	margin-left:0px;
	float:none;
}

/****************** new *************************/
.breadcrumb {
    padding: 15px 0;
}
.prdctDetlTop .image{
	width:100%;
}
.image2 {
    width: 100%;
}
#gallery-wrap-area-scroll {
    width: 80%;
}
.propice_right_area {
    width: 100%; padding:20px 0px 0px 0px;
}
.propice_right_area .add2Wishlist-2:first-child{
	float:left;
}
.sub_price-2 {
    min-width: 71%;
}
.relet_prdct_box {
	margin:0px 0px 20px 0px !important;
	width: 288px !important;
}

/************************************************/


#footer .column {
    display: none;
    float: left;
    min-height: 100px;
    width: 18%;
}

#footer .column-rgt {
    float: right;
    min-height: 20px;
    width: 100%;
	text-align:center;
}
.newslter_input{
	float:none;
	width: 60%;
}
.connect-get {
    width: 51%;
}
.footer_link {
    width: 46%;
}
.foot_signupbtn{
	float:none;
}
#footer h3{
	text-align:left;
	margin-bottom:5px;
}

#powered {
    color: #6A6969;
    float: left;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.footer_link li {
    display: inline;
    float: none;
    list-style: none outside none;
    margin-left: 6px;
    width: auto;
}

.footer_link li a {
    float: none;
    text-decoration: none;
    width: auto;
}

.footer_btm_area {
    float: left;
    padding:0px 0 10px;
    width: 100%;
}
.banner-section {
    display: none;
}
.headerArea {
    border-bottom: 1px solid #ccdae1;
    padding-bottom: 10px;
}
.box .box-heading {
    padding-top: 30px;
}
.website-designby {
    width: 100%;
}
#content{
	min-height:100px;
}

.prdctDetlTop .lftaara {
    float: left;
    width: 100%;
}
.prdctDetlTop .detalAra {
    float: right;
    width: 100%;
}
.prdctDetlTop .rgtara {
    float: right;
    width: 100%;
}
.proprice {
    float: left;
}

.checklink-2{
	display:none;
}
h2.resp-tab-active {
    padding: 6px 0px !important;
}
/*h2.resp-accordion {
    width: 89.2% !important;
}*/
.overview_lftpart .image a img {
    height: 277px !important;
}
.overview_lftpart-2 {
    width: 100%;
}
.catgoryTabb{
	display:block;
}
.catPag_box-heading{
	display:none;
}
.box .box-content{
	padding-top:10px;
	border-top: 1px solid #C1C1C1;
}
.resp-tab-content {
    border-top:none !important;
}
.box-content{
	display:none;
}

.specificationAra {
    padding-top: 15px;
}
.product-info-2 {
    padding-top: 15px;
}
.memdetalara .membrLft {
    float: left;
    width: 100%;
}
.memdetalara .membrRgt {
    float: left;
    width: 160px;
}

.rvwLkAra .likbox {
    background: url("../images/lik-icon.png") no-repeat scroll 5px 4px #F1F1F1;
    border: 1px solid #C3C4C4;
    border-radius: 4px;
    color: #005EBD;
    float: left;
    font-size: 13px;
    margin-right: 10px;
    padding: 3px 7px 3px 26px;
    text-decoration: none;
    width: auto;
}

.rvwLkAra .dislikbox {
    background: url("../images/dislik-icon.png") no-repeat scroll 5px 4px #F1F1F1;
    border: 1px solid #C3C4C4;
    border-radius: 4px;
    color: #005EBD;
    float: left;
    font-size: 13px;
    margin-right: 20px;
    padding: 3px 7px 3px 26px;
    text-decoration: none;
    width: auto;
}
.owl-theme3 .owl-buttons {
    bottom: 46px !important;
    position: absolute;
}
.profil_TXTAra {
    float: left;
    /*margin-left: 10px;*/
    width: 65%;
}
.success {
    background:#effac7 url("../image/success.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px #999999;
    color: #999999;
    float: left;
    font-family: 'Open Sans';
    font-size: 12px;
    width: 82.5% !important;
}

.owl-theme2 .owl-controls .owl-buttons .owl-next {
    background: url("../images/featured-image/slider-rgt-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    float: right;
    height: 34px;
    left: 35px !important;
    overflow: hidden;
    position: relative;
    width: 34px;
}

.owl-theme2 .owl-controls .owl-buttons .owl-prev {
    background: url("../images/featured-image/slider-lft-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    float: left;
    height: 34px;
    overflow: hidden;
    position: relative;
    right: 35px !important;
    width: 34px;
}
/*******************************contact us css start **********************/
.address_Ara {
    float: left;
    width: 100% !important;
}
.formmAra {
    float: right;
    width: 100% !important;
}

.formmAra .frmFldArea label {
    margin-bottom: 5px;
    width: 100% !important;
}

.formmAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
.formmAra .frmFldArea textarea {
    max-width: 92% !important;
    min-width: 92% !important;
    width: 92% !important;
}

.formmAra .frmFldArea .capinput {
    width: 35% !important;
}
.contactus-subtext {
    font-size: 22px;
    margin: 0;
}
.contactus-smalltext {
    font-size: 15px;
}
.formmAra .frmFldArea .frmhlfArea {
    margin: 0 0 15px;
    width: 100%;
}
.formmAra .frmFldArea {
    margin-bottom: 0;
}
.contact-requiredtext {
    display: none;
}
.contact-submit {
    margin: 20px 0 0;float:left;
}
/******************************* contact us css end *********************/

/******************************* return css start **************************/
.prdctRetrnAra #column-right {
    width: 100% !important;
}
.prdctRetrnAra #content {
    width: 100% !important;
}
.prdctRetrnAra .catPag_box-heading2{
	margin-top:20px;
}
.prdctRetrnAra .catPag_box-heading2 p{
	display:none;
}
#content .content .left {
    float: left;
    width: 100%;
}
#content .content .right{
    float: left;
    width: 100%;
}

.prdctRetrnAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
.prdctRetrnAra #content .content {
    width: 100% !important;
}

.prdctRetrnAra .frmFldArea textarea {
    max-width: 92% !important;
    min-width: 92% !important;
    width: 92% !important;
}

.prdctRetrnAra .frmFldArea .capinput {
    width: 35% !important;
}

.prdctRetrnAra .buttons {
    width: 100% !important;
}
.prdctRetrnAra .buttons .left {
    float: left;
    width: 30% !important;
}
.prdctRetrnAra .buttons .right {
    float: left;
    width: 70% !important;
}
/******************************* return css ened ***************************/

/******************************* gift voucher css start *********************/
.vrchr_hddesgn {
    width:100%;
}
.prdct_name6 {
    font-size: 20px;
    margin: 20px 0;
    width: 100%;
}
.vrformmAra #column-right {
    float: left;
    width: 100%;
}
.vrformmAra #content {
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
}

.vrformmAra .frmFldArea label {
    width: 100% !important; margin-bottom:5px;
}

.vrformmAra .frmFldArea .inputTextFld {
    width: 93% !important;
}
.vrformmAra .frmFldArea .radioareea {
    float: left; width:80% !important;
}
.vrformmAra .frmFldArea textarea {
    max-width: 93% !important;
    min-width: 93% !important;
    padding: 10px;
    width: 93% !important;
}
.terms_txt {
    width: 51% !important;
}
/******************************* gift voucher css ended *******************/

/***************************** affiliated css start *************************/
.affilatdAra #column-right {
    width: 100% !important;
}
.affilatdAra #content {
    width: 100% !important; margin-top:20px;
}
.login-content .left {
    width: 100% !important;
}
.login-content .right {
    width: 100% !important;
}

.affilatdAra .frmFldArea label {
    width: 100% !important;
}

.affilatdAra .frmFldArea .inputTextFld {
    width: 93% !important;
}
/***************************** affiliated css ended ********************/

/***************************** offer css start ************************/

.specialConAra #column-right {
    width: 100% !important;
}
.specialConAra #content {
    width: 100% !important; margin-top:20px;
}
/***************************** offer css ended *************************/

/**************************** accout css start *************************/
.loginAra .frmFldArea label {
    width: 100% !important;
}

.loginAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
/**************************** acconut css ended ***********************/

/********************** register css start **********************/
.cretaccuntAra #column-right {
    float: left;
    width: 100% !important;
}
.cretaccuntAra #content {
    width: 100% !important;
}
.cretaccuntAra .frmFldArea label {
    width: 100% !important;
	text-align:left;
}
.cretaccuntAra .frmFldArea .dropfield {
    width: 95%;
}
.cretaccuntAra .frmFldArea .radioareea {
    width: 100%;
}
.cretaccuntAra .frmFldArea .radioareea li {
    width: 35%;
}
.cretaccuntAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
.cretaccuntAra .frmFldArea .inputTextFld2 {
    width: 100% !important;
}
.cretaccuntAra #content .content .right {
    width: 100% !important;
	text-align:left;
}
.cretaccuntAra .buttons {
    width: 100%;
}
.cretaccuntAra #content .content .right span {
    font-size: 13px;
    margin-left: 0px !important; float:left;
	margin-bottom:10px;
}
/******************* register css closed *********************/

/******************* search css open  *************************/

.searchrnAra #column-right {
    float: left;
    width: 100% !important;
}
.searchrnAra #content {
    width: 100% !important; margin-top:20px;
}

.catPag_box-heading_2 input[type="text"] {
    width: 78% !important;
	margin-left:20px;
	margin-top:5px;
}
.catPag_box-heading_2 select {
    border: 1px solid #CCCCCC;
    float: right !important;
    margin-right: 21px !important;
    padding: 9px;
    width: 85.5% !important;
	margin-top:10px;
}
.searchrnAra .seerchBtn{
	margin:10px 20px 0px 0px;
	padding: 9px 99px !important;
}
.icheckbox_square-red.disabled {
    background-position: -42px 0 !important;
    cursor: default;
}
.catPag_box-heading_2 label {
    width: 77% !important;
}
/******************* search css closed **********************/
.proprice_one{
    float: right;
    font-size: 26px;
    width: 82%;
	color:#DC3E00;
	margin-top:-20px;
	margin-bottom:20px;
}
.frmFldArea2 label {
    width: 100% !important;
}
.frmFldArea2 .inputTextFld {
    width: 87% !important;
}
.frmFldArea2 textarea {
    max-width: 87% !important;
    min-width: 87% !important;
}
#tab-review .buttons {
    width: 68% !important;
	margin-right:5px !important;
}
.frmFldArea2 .txtspan {
    margin-right: 15px !important;
}
#tab-review .success{
	width: 78.5% !important;
}
#tab-review .warning {
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 5px;
	width: 78.5% !important;
}




/****************************** edit account css start ************************************/
.editaccnt .buttons {
    width: 97% !important;
}
.editaccnt #content{
	margin-top:20px;
}
/***************************** edit acconut css closed ************************************/
.edtadrsBtnAra {
    float: right; width: 52% !important;
}
.prdct_name {
    font-size: 18px !important;
}
/********************************** pricelist css start **************************/
.pricelist table td.image img {
    width: 139px;
}
/********************************** pricelist css ended **************************/


/******************************** testimonial css start ************************/

.frmFldArea2 .capptch {
    width: 100%;
}
.frmFldArea2 .capptch .inputTextFld {
    width: 27% !important;
}
/******************************** testtimonial css ended ************************/
.logo-tagline{display:none;}
.login-middlebox {
    width: 100%;
}
.loginAra-rememberme {
    margin: 12px 0 18px;
    width: 100%;
}
.login-register {
    float: left;
}
.password-sec {
    font-size: 11px;
}
.login-middlebox .heading {
    font-size: 24px;
}

}
@media only screen and (min-width: 480px) and (max-width: 579px) {
#menu{
	display:none;
}
.language {
    display: none;
}
.currency {
    float: right;
    margin: 28px 7px 0 0;
}
#welcome img {
    float: right;
}
.banner-section {
    display: none;
}
.headerArea {
    border-bottom: 1px solid #ccdae1;
    padding-bottom: 10px;
}
.box .box-heading {
    padding-top: 30px;
}
.innerwrapper {
    width: 90%;
}
.blueMobileMenu li ul {
    margin: 12px -17px -13px !important;
    position: relative;
}
.blueMobileMenu li ul li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #DCDCDC;
    width: 92% !important;
}
#header {
    float: left;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 99;
}
#header #logo {
    margin-top: 20px;
    width: 34%;
}
.resmenuAra{
	width:auto;
	float:right;
	margin-top:20px;
}
#header #search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    float: left;
    margin-top: 10px;
    width: 80%;
    z-index: 15;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #6D6C6C;
    float: left;
    font-size: 12px;
    height: 14px;
    padding: 10px;
    width: 72%;
}
#header .button-search {
    background: url("../images/search_icon.png") no-repeat scroll center center #FFFFFF;
    border-left: 1px solid #BEBEBE;
    cursor: pointer;
    float: right;
    height: 34px;
    width: 35px;
}

#header #cart {
    float: right;
    margin-left: 15px;
    margin-top: 5px;
    position: relative;
    width: auto;
}
#header #welcome-mobile #welcome{
	display:block;
	width:100%;
	float:right;
	margin-top: 5px;
    text-align: left;
}
#header #welcome-desktop #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:none;
	width:auto;
	float:right;
}


.multisldrAra {
    float: left;
/*    height: 405px;*/
    width: 100%;
}

.box .box-heading2 {
    border-bottom: 1px solid #B1BDC6;
    float: left;
    margin-bottom: 40px;
    padding-top: 0;
    width: 100%;
	margin-top:0;
}
.imgclass{
	width:100%;
}
.imgclass a{
	float:left;
	width:100%;
}
.imgclass a img{
	width:100%;
	float:left;
}
.multisldrAra-wrap {
    margin: 0 auto;
    width: 84%;
}
.featuredAra2-innerwrapper .owl-demo .item {
    float: left;
    margin: 5px 30px 5px 0;
    text-align: center;
	width:95%;
}


/*--------------------------------product detail css ---------------------------------------*/

#column-left {
    float: left;
    width: 100%;
	margin-bottom:20px;
	display:none;
}
.proprice {
    float: left;
}

.prodct_dtl_image_area {
    float: left;
    width: 100%;
}
.sub_price-2 {
    min-width: 100%;
}
.checklink-2{
	display:none;
}
.productDetlAra #content{
	width:100%;
}
.overview_rgtpart{
	width:100%;
}

.overview_lftpart {
    float: left;
    padding: 0 0px;
    width: 100%;
}


.lftPrt {
    float: left;
    padding-top: 10px;
    width: 100%;
}

.product-list .image {
    float: left;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
}
.prodctPrt .image a{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .image a img{
	width:60%;
}
.proInfo {
    float: left;
    width: 100%;
}
.product-list > div {
    width: 45%;
}
.product-list .cart{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .add2cart{
	margin-left:0px;
	float:none;
}
.prdctDetlTop .lftaara {
    float: left;
    width: 100%;
}
.prdctDetlTop .detalAra {
    float: right;
    width: 100%;
}
.prdctDetlTop .rgtara {
    float: right;
    width: 100%;
}
.resp-tab-content {
    border-top:none !important;
}
/****************** new *************************/
.breadcrumb {
    padding: 15px 0;
}
.prdctDetlTop .image{
	width:100%;
}
.image2 {
    width: 82%; padding: 0 9%;
}
#gallery-wrap-area-scroll {
    width: 80%;
}
.propice_right_area {
    width: 100%; padding:20px 0px 0px 0px;
}
.propice_right_area .add2Wishlist-2:first-child{
	float:left;
}
.propice_right_area .add2Wishlist-2:last-child{
	float:left; margin-left:20px;
}
.sub_price-2 {
    min-width: 71%;
}
.relet_prdct_box {
	margin:0px 0px 20px 0px !important;
	width: 210px !important;
}
/************************************************/
#footer .column {
    display: none;
    float: left;
    min-height: 100px;
    width: 18%;
}

#footer .column-rgt {
    float: right;
    min-height: 70px;
    width: 100%;
	text-align:center;
}
.newslter_input{
	float:none;
}
.foot_signupbtn{
	float:none;
}
#footer h3{
	text-align:left;
	margin-bottom:5px;
}

#powered {
    color: #6A6969;
    float: left;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.footer_link {
    float: left;
    text-align: center;
    width:auto;
}
.website-designby {
    width: 100%;
}
.carsoul {
    margin-top: 0;
}
.footer_link li {
    display: inline;
    float: none;
    list-style: none outside none;
    margin-left: 6px;
    width: auto;
}

.footer_link li a {
    float: none;
    text-decoration: none;
    width: auto;
}

.footer_btm_area {
    float: left;
    padding: 20px 0 10px;
    width: 100%;
}
/*.foot_signupbtn {
    padding: 10px 16px;
}*/
#content{
	min-height:100px;
}
.catgoryTabb{
	display:block;
}
.catPag_box-heading{
	display:none;
}
.box .box-content{
	padding-top:10px;
	border-top: 1px solid #C1C1C1;
}
.box-content{
	display:none;
}
.catPagConAra #content {
    width: 100%;
}

.newpagination {
    width: 40%;
}
/*h2.resp-accordion {
    width: 93% !important;
}*/
.mobilefilter{
	display:none;
}
.memdetalara .membrLft {
    float: left;
    width: 100%;
}
.memdetalara .membrRgt {
    float: left;
    width: 160px;
}
.owl-theme3 .owl-buttons {
    bottom: 58px !important;
    position: absolute;
}

#owl-demo3 .item {
    border: 1px solid #C3C4C4;
    float: left;
    margin: 0 10px;
    text-align: center;
    width: 85px !important;
}
.profil_TXTAra {
    float: left;
    /*margin-left: 10px;*/
    width: 78%;
}
/*******************************contact us css start **********************/
.address_Ara {
    float: left;
    width: 100% !important;
}
.formmAra {
    float: right;
    width: 100% !important;
}

.formmAra .frmFldArea label {
    margin-bottom: 5px;
    width: 100% !important;
}

.formmAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
.formmAra .frmFldArea textarea {
    max-width: 92% !important;
    min-width: 92% !important;
    width: 92% !important;
}

.formmAra .frmFldArea .capinput {
    width: 35% !important;
}
.contactus-subtext {
    font-size: 22px;
    margin: 0;
}
.contactus-smalltext {
    font-size: 15px;
}
.formmAra .frmFldArea .frmhlfArea {
    margin: 0 0 15px;
    width: 100%;
}
.formmAra .frmFldArea {
    margin-bottom: 0;
}
.contact-requiredtext {
    display: none;
}
.contact-submit {
    margin: 20px 0 0;float:left;
}
/******************************* contact us css end *********************/

/******************************* return css start **************************/
.prdctRetrnAra #column-right {
    width: 100% !important;
}
.prdctRetrnAra #content {
    width: 100% !important;
}
.prdctRetrnAra .catPag_box-heading2{
	margin-top:20px;
}
.prdctRetrnAra .catPag_box-heading2 p{
	display:none;
}
#content .content .left {
    float: left;
    width: 100%;
}
#content .content .right{
    float: left;
    width: 100%;
}

.prdctRetrnAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
.prdctRetrnAra #content .content {
    width: 100% !important;
}

.prdctRetrnAra .frmFldArea textarea {
    max-width: 92% !important;
    min-width: 92% !important;
    width: 92% !important;
}

.prdctRetrnAra .frmFldArea .capinput {
    width: 35% !important;
}

.prdctRetrnAra .buttons {
    width: 100% !important;
}
.prdctRetrnAra .buttons .left {
    float: left;
    width: 30% !important;
}
.prdctRetrnAra .buttons .right {
    float: left;
    width: 70% !important;
}
/******************************* return css ened ***************************/

/******************************* gift voucher css start *********************/
.prdct_name6 {
    width: 100%;
	margin: 25px 0 30px 0;
}
.vrformmAra #column-right {
    float: left;
    width: 100%;
}
.vrformmAra #content {
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
}

.vrformmAra .frmFldArea label {
    width: 100% !important; margin-bottom:5px;
}

.vrformmAra .frmFldArea .inputTextFld {
    width: 93% !important;
}
.vrformmAra .frmFldArea .radioareea {
    float: left; width:80% !important;
}
.vrformmAra .frmFldArea textarea {
    max-width: 93% !important;
    min-width: 93% !important;
    padding: 10px;
    width: 93% !important;
}
.terms_txt {
    width: 51% !important;
}
/******************************* gift voucher css ended *******************/

/***************************** affiliated css start *************************/
.affilatdAra #column-right {
    width: 100% !important;
}
.affilatdAra #content {
    width: 100% !important; margin-top:20px;
}
.login-content .left {
    width: 100% !important;
}
.login-content .right {
    width: 100% !important;
}

.affilatdAra .frmFldArea label {
    width: 100% !important;
}

.affilatdAra .frmFldArea .inputTextFld {
    width: 93% !important;
}
/***************************** affiliated css ended ********************/

/***************************** offer css start ************************/

.specialConAra #column-right {
    width: 100% !important;
}
.specialConAra #content {
    width: 100% !important; margin-top:20px;
}
/***************************** offer css ended *************************/
/********************** register css start **********************/
.cretaccuntAra #column-right {
    float: left;
    width: 100% !important;
}
.cretaccuntAra #content {
    width: 100% !important;
}
.cretaccuntAra .frmFldArea label {
    width: 100% !important;
	text-align:left;
}
.cretaccuntAra .frmFldArea .dropfield {
    width: 94%;
}
.cretaccuntAra .buttons {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}
.cretaccuntAra .frmFldArea .inputTextFld {
    width: 92% !important;
}
.cretaccuntAra .frmFldArea .inputTextFld2 {
    width: 100% !important;
}
.cretaccuntAra #content .content .right {
    width: 95% !important;
}
.cretaccuntAra #content .content .right span {
    font-size: 14px;
    margin-left: 0px !important; float:left;
	margin-bottom:10px;
}
/******************* register css closed *********************/
/******************* search css open  *************************/

.searchrnAra #column-right {
    float: left;
    width: 100% !important;
}
.searchrnAra #content {
    width: 100% !important; margin-top:20px;
}

.catPag_box-heading_2 input[type="text"] {
    width: 86% !important;
	margin-left:20px;
	margin-top:5px;
}
.catPag_box-heading_2 select {
    border: 1px solid #CCCCCC;
    float: right !important;
    margin-right: 21px !important;
    padding: 9px;
    width: 90.5% !important;
	margin-top:10px;
}
.searchrnAra .seerchBtn{
	margin:10px 20px 0px 0px;
	padding: 9px 15% !important;
}
.icheckbox_square-red.disabled {
    background-position: -42px 0 !important;
    cursor: default;
}
.catPag_box-heading_2 label {
    width: 86% !important;
}
.spaccc {
    float: left;
    width: 5.6% !important;
}
/******************* search css closed **********************/
.proprice_one{
    float: right;
    font-size: 26px;
    width: 82%;
	color:#DC3E00;
	margin-top:-20px;
	margin-bottom:20px;
}
.success {
    background:#effac7 url("../image/success.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px #999999;
    color: #999999;
    float: left;
    font-family: 'Open Sans';
    font-size: 12px;
    width: 90.5% !important;
}


.frmFldArea2 label {
    width: 100% !important;
}
.frmFldArea2 .inputTextFld {
    width: 93% !important;
}
.frmFldArea2 textarea {
    max-width: 93% !important;
    min-width: 93% !important;
}
#tab-review .buttons {
    width: 68% !important;
	margin-right:5px !important;
}
.frmFldArea2 .txtspan {
    margin-right: 15px !important;
	float:left !important;
}
#tab-review .success{
	width: 78.5% !important;
}
#tab-review .warning {
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 5px;
	width: 78.5% !important;
}
/****************************** edit account css start ************************************/
.editaccnt .buttons {
    width: 97% !important;
}
.editaccnt #content .content .right {
    width: 35% !important; margin-right:10px;
}
.editaccnt #content{
	margin-top:20px;
}
/***************************** edit acconut css closed ************************************/
.edtadrsBtnAra {
    float: right; width: 34% !important;
}
.prdct_name {
    font-size: 18px !important;
}
/********************************** pricelist css start **************************/
.pricelist table td.image img {
    width: 139px;
}
/********************************** pricelist css ended **************************/



/******************************** testimonial css start ************************/

.frmFldArea2 .capptch {
    width: 100%;
}
.frmFldArea2 .capptch .inputTextFld {
    width: 27% !important;
}
/******************************** testtimonial css ended ************************/
.logo-tagline{display:none;}
.login-middlebox {
    width: 90%;
}

}
@media only screen and (min-width: 581px) and (max-width: 767px) {
.innerwrapper {
    width: 95%;
}
.mobilefilter{
	display:none;
}
.blueMobileMenu li ul {
    margin: 12px -17px -13px !important;
    position: relative;
}
.blueMobileMenu li ul li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #DCDCDC;
    width: 92% !important;
}
#column-left {
    float: left;
    width: 100%;
	margin-bottom:20px;
}
/*h2.resp-accordion {
    width: 94.2% !important;
}*/
#header {
    float: left;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 99;
}
#header #logo {
    margin-top: 35px;
    width: 30%;
}
.carsoul {
    margin-top:0px;
}
.resmenuAra{
	width:auto;
	float:right;
	margin-top:20px;
}
#header #search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    float: right;
    margin-top: 10px;
    width: 50%;
    z-index: 15;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #6D6C6C;
    float: left;
    font-size: 12px;
    height: 14px;
    padding: 10px;
    width: 72%;
}
#header .button-search {
    background: url("../images/search_icon.png") no-repeat scroll center center #FFFFFF;
    border-left: 1px solid #BEBEBE;
    cursor: pointer;
    float: right;
    height: 34px;
    width: 35px;
}

#header #cart {
    float: right;
    margin-left: 15px;
    margin-top: 5px;
    position: relative;
    width: auto;
}
#menu{
	display:none;
}
#header #welcome-mobile #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:block;
	width:auto;
	float:right;
	margin:27px 0 10px;
}
#header #welcome-desktop #welcome{
	/*position: absolute;
	top: 47px;
	right: 0px;*/
	display:none;
	width:auto;
	float:right;
}

.resp-tab-content {
    border-top:none !important;
}

.multisldrAra {
    float: left;
    height: 382px;
    width: 100%;
}


#content{
	min-height:100px;
}
.prdctDetlTop .detalAra {
    float: right;
    width: 100%;
}
.prdctDetlTop .lftaara {
    float: none;
    width: 100%;
}
.prdctDetlTop .rgtara {
    float: right;
    width: 40%;
}

.catPagConAra #content{
	width:100%;
	min-height:300px;
}
.relet_prdct_box {
    margin: 0 20px;
    text-align: center;
    width: 240px !important;
}
.lftPrt {
    float: left;
    padding-top: 10px;
    width: 100%;
}

.product-list .image {
    float: left;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
}
.prodctPrt .image a{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .image a img{
	width:60% !important;
}
.proInfo {
    float: left;
    width: 100%;
}
.product-list .cart{
	width:100%;
	float:left;
	text-align:center;
}
.prodctPrt .add2cart{
	margin-left:0px;
	float:none;
}
.product-list > div {
    margin: 0 1.5% 30px 0;
}
/****************** new ***********************/
.prdctDetlTop .detalAra {
    width: 51%;
}
.prodct_dtl_image_area {
    float: left;
    width: 45%;
}
.prdctDetlTop .image {
    width: 100%;
}
.image2 {
    width: 100%;
}
.propice_left_area {
    width: 100%;
}
.propice_right_area {
    padding: 20px 0 0;
    width: 100%;
}
.propice_right_area .add2Wishlist-2:first-child{
	float:left;
}
.bottm-tab-ara {
	margin-bottom:30px;
}
#gallery-scroll-area li {
    float: left;
    margin: 0 10px;
}
.rateAra-2 a {
    clear: both;
    float: left;
}

/***************************************/


#footer .column {
    display: none;
    float: left;
    min-height: 100px;
    width: 18%;
}

#footer .column-rgt {
    float: right;
    min-height: 70px;
    width: 100%;
	text-align:center;
}
.newslter_input{
	float:none;
}
.foot_signupbtn{
	float:none;
}
.newslter_input {
    width: 40%;
}

#footer h3{
	text-align:left;
	margin-bottom:5px;
}
.connect-get {
    float: right;
	margin:0;
}
.website-designby {
    text-align: right;
    width: 100%;
}

#powered {
    color: #6A6969;
    float: left;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.footer_link {
    float: right;
    text-align: right;
    width: 100%;
	margin:10px 0 0;
}

.footer_link li {
    display: inline;
    float: none;
    list-style: none outside none;
    margin-left: 6px;
    width: auto;
}

.footer_link li a {
    float: none;
    text-decoration: none;
    width: auto;
}

.footer_btm_area {
    float: left;
    padding: 20px 0 10px;
    width: 100%;
}
.foot_signupbtn {
      float: left;
    margin: 0 0 0 10px;
}
/*--------------------------------product detail css ---------------------------------------*/

#column-left {
    float: left;
    width: 100%;
	display:none;
}
.product-bottombtn .link1 {
    margin: 0 0 15px;
    width: 100%;
}
.product-bottombtn .link2 {
    margin: 0 0 15px;
    width: 100%;
}
.product-bottombtn .link3 {
    width: 100%;
}
.productDetlAra #content{
	width:100%;
}
.overview_rgtpart{
	width:45%;
}
#owl-demo3 .item {
    border: 1px solid #C3C4C4;
    float: left;
    margin: 0 10px;
    text-align: center;
    width: 60px !important;
}
.owl-theme3 .owl-buttons {
    bottom: 50px !important;
    position: absolute;
}

.overview_lftpart-2 {
    float: left;
    padding: 0 15px 0 0;
    width: 50% !important;
}
.overview_lftpart {
    float: left;
    padding: 0 0px;
    width: 54%;
}
.prdctDetlTop {
    margin-top: 20px !important;
}
.catgoryTabb{
	display:block;
}
.catPag_box-heading{
	display:none;
}
.box .box-content{
	padding-top:10px;
	border-top: 1px solid #C1C1C1;
}
.box-content{
	display:none;
}
.memdetalara .membrLft {
    float: left;
    width: 100%;
}
.memdetalara .membrRgt {
    float: left;
    width: 160px;
}
.logo-tagline {
	display:none;
}
/*******************************contact us css start **********************/
.address_Ara {
    float: left;
    width: 100% !important;
}
.formmAra {
    float: right;
    width: 100% !important;
}
.contactus-smalltext {
    font-size: 15px;
}
.contact-requiredtext {
    display: none;
}
.formmAra .frmFldArea .capinput {
    width: 30% !important;
}
/******************************* contact us css end *********************/

/***************************** return css start *****************************/
.prdctRetrnAra #column-right {
    width: 32% !important;
}
.prdctRetrnAra #content {
    width: 65%;
}
.prdctRetrnAra #content .content .left {
    float: left;
    width: 100%;
}
.prdctRetrnAra #content .content .right {
    float: right;
    width: 100% ;
}

.prdctRetrnAra #content .content {
    width: 100% !important;
}
.prdctRetrnAra .frmFldArea label {
    width: 30% !important;
}

.prdctRetrnAra .frmFldArea .inputTextFld {
    width: 93% !important;
}

.prdctRetrnAra .frmFldArea .radioareea {
    float: left;
    width: 68% !important;
}
.prdctRetrnAra .frmFldArea textarea {
    max-width: 62% !important;
    min-width: 62% !important;
    width: 62% !important;
}
.prdctRetrnAra .frmFldArea .capinput {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px #DDDDDD inset;
    float: left;
    margin-left:0px !important;
    margin-top: 15px;
    padding: 10px 10px 9px;
    width: 36% !important;
}
.prdctRetrnAra .buttons {
    width: 100% !important;
}
.prdctRetrnAra .buttons .left {
    float: left;
    width: 30% !important;
}
.prdctRetrnAra .buttons .right {
    float: left;
    width: 70% !important;
}
/***************************** return css ended ************************/


/***************************** voucher css start ********************/
.vrformmAra #content {
    width: 64% !important;
}
.vrformmAra .frmFldArea label {
    width: 100% !important; margin-bottom:5px;
}

.vrformmAra .frmFldArea .inputTextFld {
    width: 93% !important;
}
.vrformmAra .yellow_btn{
	margin-top:10px;
}

.vrformmAra .frmFldArea textarea {
    max-width: 93% !important;
    min-width: 93% !important;
    padding: 10px;
    width: 93% !important;
}


/***************************** voucher css ened ********************/

/************************ affiliated css start *********************/
.affilatdAra #column-right {
    width: 32% !important;
}
.affilatdAra #content {
    width: 65% !important;
}

/*********************** affilited css ended *******************/

/*********************** offer css start ******************/
.specialConAra #column-right {
    width: 32% !important;
}
.specialConAra #content {
    width: 65% !important;
}
/*********************** offer css ended ******************/

/********************** login css start ******************/
.login-content .left {
    width: 48% !important;
}
.login-content .right {
    width: 48% !important;
}
.login-content .frmFldArea label {
    width: 95% !important; margin-bottom:5px;
}

.login-content .frmFldArea .inputTextFld {
    width: 90% !important;
}
/********************* login css ended **************/

/********************register css start *******************/
.cretaccuntAra  #column-right {
    width: 32% !important;
}
.cretaccuntAra #content {
    width: 75% !important;
}
.prdct_name6 {
    margin: 15px 0 30px;
    width: 100%;
}
.cretaccuntAra .frmFldArea .dropfield {
    width: 96%;
}
.cretaccuntAra .buttons {
    width: 100%;
}
.cretaccuntAra .frmFldArea label {
    width: 100% !important;
	text-align:left;
}
.cretaccuntAra .frmFldArea .inputTextFld {
    width: 94% !important;
}
.cretaccuntAra .frmFldArea .inputTextFld2 {
    width: 100% !important;
}
.cretaccuntAra #content .content .right {
    float: right;
    width: 100% !important; margin-bottom:10px;
}
/******************* register css ended ******************/

/****************** search css *********/

.searchrnAra #column-right {
    float: left;
    width: 100% !important;
}
.searchrnAra #content {
    width: 100% !important; margin-top:20px;
}
.catPag_box-heading_2 input[type="text"] {
    width: 22% !important;
}
.catPag_box-heading_2 select {
    width: 26% !important;
}

.seerchBtn {
    padding: 9px 32px !important;
}
.spaccc {
    float: left;
    width: 15.6% !important;
}
.icheckbox_square-red.disabled {
    background-position: -42px 0 !important;
    cursor: default;
}
/******************search css ************/
.success {
	background:#effac7 url('../image/success.png') 10px center no-repeat;
	/*border-bottom: 1px solid #BBDF8D;*/
	width:96.5%;
	float:left;
	font-size:12px;
	box-shadow:#999 0px 0px 2px;
	font-family: 'Open Sans';
	color:#565658;
	border:#98c601 solid 1px;
	
}



.frmFldArea2 label {
    width: 100% !important;
}
.frmFldArea2 .inputTextFld {
    width: 93% !important;
}
.frmFldArea2 textarea {
    max-width: 93% !important;
    min-width: 93% !important;
}
#tab-review .buttons {
    width: 68% !important;
	margin-right:5px !important;
}
.frmFldArea2 .txtspan {
    margin-right: 15px !important;
	float:left !important;
}
#tab-review .success{
	width: 78.5% !important;
}
#tab-review .warning {
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 5px;
	width: 78.5% !important;
}
.profil_TXTAra {
    float: left;
    width: 82% !important;
}
/****************************** edit account css start ************************************/
.editaccnt .buttons {
    width: 97% !important;
}
.editaccnt #content .content .right {
    width: 35% !important;
}
/***************************** edit acconut css closed ************************************/
.edtadrsBtnAra {
    float: right;
    width: 42% !important;
}
/********************************** pricelist css start **************************/
.pricelist table td.image img {
    width: 139px;
}
/********************************** pricelist css ended **************************/

/******************************** testimonial css start ************************/

.frmFldArea2 .capptch {
    width: 100%;
}
.frmFldArea2 .capptch .inputTextFld {
    width: 27% !important;
}
/******************************** testtimonial css ended ************************/

.language {
    display: none;
}
.currency {
    float: right;
    margin: 27px 7px 8px 0;
}
.login-middlebox {
    width: 70%;
}

}
@media only screen and (min-width: 768px) and (max-width: 899px) {

.innerwrapper {
    width: 95%;
}
.box-content{
	display:block;
}
#header #logo {
    margin-top: 20px;
    width:27%;
}
#header #welcome-desktop #welcome {
    width: 37%;
}
#header #search {
    width: 40%;
	background:#fff;
}
#header #search input {
    width: 76%;
}

#header .button-search {
    float: right;
}
#menu > ul > li {
    padding: 0 1%;
}
#menu > ul > li:first-child{
	padding-left:0%;
}
#menu > ul > li:last-child{
	padding-right:0%;
}
#menu > ul > li > a {
    font-size: 13px;
	padding: 10px 22px;
}
.carsoul {
    margin-top:0px;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
    margin-left: 15px !important;
    margin-right: 15px !important;
	float:left !important;
	width:180px !important;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal li a img{
	width:100%;
}
#footer h3 {
    font-size: 13px;
	text-align: left;
}
.last{
	text-align:right; 
	text-transform:capitalize !important; 
	font-size:16px !important;
	font-weight: 300;
	margin-top:-3px !important;
	}
.newslter_input {
    width: 57%;
}
.box .box-heading2 {
    margin-top: 0;
}
.footer_link {
    margin: 3px 0 0 5px;
    width: 34%;
}
/*------ category css start ------------------------*/
.catPagConAra #content {
    width: 68%;
}
#column-left {
    width: 28.5%;
}
.dropdownlist .ddChild {
    width: 117px !important;
}
.newpagination {
    width: 40%;
}

.dropLstAra {
    width: 120px;
}
.dropdownlist .ddTitle {
    height: 22px !important;
    padding: 3px 0 0 !important;
}

.product-list .ulara ul {
    float: left;
    margin: 0;
    padding: 0 0px 0 0px;
}
.product-list .cart {
    margin-bottom: 3px;
	width:100%;
	float:left;
	text-align:center;
}

.product-list .ulara li {
    width: 90%;
}
.prodctPrt .add2cart {
    margin-left: 0px;
	float:none;
}
.product-list > div {
    margin: 0 5% 30px 0;
    width: 42%;
}

/*.rateAra {
    width: 132%;
}*/
/*----------------------------product detail css ---------------------------------*/
.productDetlAra #content {
    border-bottom: medium none !important;
    float: right;
    margin-bottom: 60px;
    margin-left: 0 !important;
    padding-bottom: 0 !important;
    width: 68%;
}

.overview_rgtpart {
    float: right;
    width: 100%;
}
.prdctDetlTop .detalAra {
    float: right;
    width: 57%;
}
.amazone-buynow {
    float: right;
    margin: 0;
}
.prdctDetlTop .lftaara {
    float: none;
    width: 100%;
}
.prdctDetlTop .rgtara {
    float: right;
    width: 40%;
}

.prdctDetlTop .image {
    float: left;
    padding-left: 15px;
    width: 180px;
}
.product-bottombtn .link1 {
    width: 100%;
	margin:0 0 15px;
}
.product-bottombtn .link2 {
    width: 100%;
	margin:0 0 15px;
}
.product-bottombtn .link3 {
    width: 100%;
}
.prdctDetlTop .rgtara {
    float: right;
    margin-top: 20px;
    width: 40%;
}
.prdctDetlTop .rgtara .add2cart-2{
	float:left;
}
.prdctDetlTop .rgtara .proprice{
	float:left;
}
.prdctDetlTop .rgtara .sub_price-2 {
    background: url("../images/price_botton_bg.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #0B71D2;
    float: right;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    margin-top: 7px;
    min-width: 35%;
    padding-bottom: 6px;
    text-align: left;
    width: 100%;
}
.prdctDetlTop .rgtara .checklink-2 {
    clear: both;
    color: #0068C6 !important;
    float: right;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-top: 15px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.add2Wishlist-2{
	float:left;
}
.infoDvdr-2{
	width:100%;
	float:left;
	border-top:#e4e4e4 solid 1px;
	height:20px;
	display:block;
}
.memdetalara .membrLft {
    float: left;
    width: 100%;
}
#owl-demo3 .item {
    border: 1px solid #C3C4C4;
    float: left;
    margin: 0 10px;
    text-align: center;
    width: 76px !important;
}

/***********************new css **************************/
.image2 {
    width: 100%;
}
.prodct_dtl_image_area {
    width: 43%;
}
.propice_right_area {
    float: right;
    padding: 15px 0 15px;
    width: 100%;
}
.add2Wishlist-2{
	margin-bottom:10px;
	font-size:11px;
}
.add2Wishlist-2:last-child{
	float:right;
}


/*******************************contact us css start **********************/


.formmAra .frmFldArea label {
    margin-bottom: 5px;
    width: 100% !important;
}

/******************************* contact us css end *********************/

/******************************* return css start ******************/
.prdctRetrnAra .frmFldArea .inputTextFld {
    width: 85% !important;
}

.prdctRetrnAra .frmFldArea textarea {
    max-width: 89% !important;
    min-width: 89% !important;
    padding: 10px;
    width: 89% !important;
}
.prdctRetrnAra .buttons {
    width: 100% !important;
}

.prdctRetrnAra #content .content {
    width: 100% !important;
}
/******************************return css end ******************/

/****************************** voucher css start ***********************/
.vrformmAra #content {
    width: 72% !important;
}
.cretaccuntAra #content {
    width: 85%;
}
.vrformmAra .frmFldArea label {
    width: 32% !important;
}

.vrformmAra .frmFldArea .inputTextFld {
    width: 62% !important;
}
.vrformmAra .frmFldArea textarea {
    max-width: 62% !important;
    min-width: 62% !important;
    width: 62% !important;
}
.vrformmAra .buttons {
    border: medium none !important;
    float: left;
    width: 97% !important;
}
/***************************** voucher ended ******************/

/********************register css start *********************/

.cretaccuntAra .frmFldArea .inputTextFld {
    width: 60% !important;
}
.cretaccuntAra .frmFldArea .inputTextFld2{
	width:64% !important;
}
.cretaccuntAra #content .content .right span {
    float: left;
    margin-left: 5px;
    text-align: left;
}
.cretaccuntAra #content .content .right {
    float: left !important;
    width: 83% !important;
}
/******************** regis ter css closed ******************/

/******************** search css start *******************/
.catPag_box-heading_2 input[type="text"] {
    width: 25% !important;
}
.searchrnAra .seerchBtn {
    padding: 9px 3% !important;
}
.spaccc {
    width: 3.6% !important;
}

.catPag_box-heading_2 span {
    margin-right: 10px;
    margin-top: 10px;
}
.searchrnAra .icheckbox_square-red.disabled {
    background-position: -42px 0 !important;
    cursor: default;
}
/******************** search css ended ******************/
.proprice_one{
    float: right;
    font-size: 26px;
    width: 82%;
	color:#DC3E00;
	margin-top:-20px;
	margin-bottom:20px;
}



.profil_TXTAra {
    float: left;
    width: 81% !important;
}
.frmFldArea2 label {
    width: 100% !important;
}
.frmFldArea2 .inputTextFld {
    width: 93% !important;
}
.frmFldArea2 textarea {
    max-width: 93% !important;
    min-width: 93% !important;
}
#tab-review .buttons {
    width: 68% !important;
	margin-right:5px !important;
}
.frmFldArea2 .txtspan {
    margin-right: 15px !important;
	float:left !important;
}
#tab-review .success{
	width: 78.5% !important;
}
#tab-review .warning {
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 5px;
	width: 78.5% !important;
}
/****************************** edit account css start ************************************/
.editaccnt .buttons {
    width: 97% !important;
}

.editaccnt #content .content .right {
    width: 52% !important;
}
/***************************** edit acconut css closed ************************************/
.edtadrsBtnAra {
    float: right;
    width: 26%;
}
/********************************** pricelist css start **************************/
.pricelist table td.image img {
    width: 219px;
}
/********************************** pricelist css ended **************************/

/******************************** testimonial css start ************************/

.frmFldArea2 .capptch {
    width: 100%;
}
.frmFldArea2 .capptch .inputTextFld {
    width: 27% !important;
}

.frmFldArea2 label {
    color: #252525;
    float: left;
    font-size: 14px;
    margin-bottom: 5px;
    width: 26%;
}
.frmFldArea2 .capptch {
    float: left;
    width: 73%;
}
/******************************** testtimonial css ended ************************/
.logo-tagline{display:none;}
.formmAra {width: 100%;}
.login-middlebox {
    width: 54%;
}

}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
.innerwrapper {
    width: 92%;
}
.connect-get {
    width: 43%;
}
#header #logo {
    float: left;
    margin-top: 10px;
    width: 31%;
}
#header #search {
    width: 40%;
	background:#fff;
}
#header #search input {
    width: 76%;
}

#header .button-search {
    float: right;
}
#menu > ul > li {
    padding: 0 1.7%;
}
#menu > ul > li:first-child{
	padding-left:0%;
}
#menu > ul > li:last-child{
	padding-right:0%;
}
.prdctDetlTop .image {
    width: 100%;
}

.sub_price-2 {
    min-width: 76%;
}

.checklink-2 {
    width: 109%;
}
.overview_lftpart {
    width: 52%;
}
.overview_lftpart-2 {
    width: 52%;
}
#header #welcome-desktop #welcome {
    width: 39%;
}
#menu > ul > li > a {
    padding: 10px 17px;
}
.box .box-heading2 {
    margin-top:0px;
}
.carsoul {
    margin-top: 0px;
}
.newslter_input {
    width: 64%;
}
/*****************************product detail css start *****************************/
/***********************new css **************************/
.image2 {
    width: 100%;
}
.prodct_dtl_image_area {
    width: 39%;
}
.propice_right_area {
    float: right;
    padding: 15px 0 15px;
    width: 100%;
}

.add2Wishlist-2:first-child{
	float:left;
}
#gallery-scroll-area li {
    float: left;
    margin: 0 6px;
}
.relet_prdct_box {
    margin: 0 5px;
    text-align: center;
    width: 208px !important;
}

/******************************* return css start ******************/
.prdctRetrnAra .frmFldArea .inputTextFld {
    width: 85% !important;
}

.prdctRetrnAra .frmFldArea textarea {
    max-width: 89% !important;
    min-width: 89% !important;
    padding: 10px;
    width: 89% !important;
}
.prdctRetrnAra .buttons {
    width: 100% !important;
}

.prdctRetrnAra #content .content {
    width: 100% !important;
}
/******************************return css end ******************/

/************************* voucher css start ******************/
.vrformmAra .buttons {
    border: medium none !important;
    float: left;
    width: 98% !important;
}
/************************ voucher css ended *******************/

/*********************** account css start ********************/

.login-middlebox {
    width: 48%;
}

/*********************** account css ended *****************/

/********************register css start *********************/

.cretaccuntAra .frmFldArea .inputTextFld {
    width: 60% !important;
}
.cretaccuntAra .frmFldArea .inputTextFld2{
	width:64% !important;
}
.cretaccuntAra #content .content .right span {
    float: left;
    margin-left: 5px;
    text-align: left;
}
.cretaccuntAra #content .content .right {
    float: left !important;
    width: 83% !important;
}
.cretaccuntAra #content {
    width: 72%;
}
/******************** regis ter css closed ******************/

/******************** search css start *******************/
.seerchBtn {
    padding: 9px 25px !important;
}
.icheckbox_square-red.disabled {
    background-position: -42px 0 !important;
}
.spaccc {
    width: 12.6% !important;
}
/******************** search css ended *******************/
.memdetalara .membrLft {
    float: left;
    width: 100%;
}
.profil_TXTAra {
    float: left;
    width: 85% !important;
}

/****************************** edit account css start ************************************/
.editaccnt .buttons {
    width: 97% !important;
}

.editaccnt #content .content .right {
    width: 52% !important;
}
#column-left {
    width: 26%;
}
.productDetlAra #content {
    width: 71%;
}
.product-bottombtn .link1 {
    width:100%;
	margin:0 0 10px;
}
.product-bottombtn .link2 {
    width:100%;
	margin:0 0 10px;
}
.product-bottombtn .link3 {
    width:100%;
}
.catPagConAra #content {
    width: 72%;
}
/***************************** edit acconut css closed ************************************/
}


