.selectify
{
    position: relative;
    color:#555;
	width:100% !important;
	float:left;
}

.selectify .options
{
    position:absolute;
    z-index:2;
    max-height:150px !important;
    overflow-y:auto;
	width: 100% !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	border:1px solid #fff;
}

.selectify .header
{
	background:#fff;
	-moz-box-shadow: inset #DDD 0px 0px 4px;
    -webkit-box-shadow:inset #DDD 0px 0px 4px;
    box-shadow: inset #DDD 0px 0px 4px;
   	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
	border:1px solid #bebebe;  
    cursor:pointer;
}

.selectify .header .icon
{
	background:url(../images/contact-dropfield.png) right no-repeat;
    float: right;
    height: 41px;
    margin-top: -42px;
    width: 43px;
}

.selectify .header .selected
{
    color:#494f55; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px;
    padding: 12px 15px 11px;
}

.selectify .header.hover .selected
{
    color:#555;
}

.selectify .header.hover .icon
{
    border-color: #000 transparent transparent;
}

.selectify .option
{
    font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	border-top:1px solid #fff;
    cursor:pointer;
    padding: 8px 10px;
    background-color:#72a3cf;
}

.selectify .option.hover
{
   background-color:#3486cf;
   color:#FFF;
}

.selectify .option.active
{
   background-color:#3486cf;
    color:#FFF;
}