tr, td, table, section, figure, header, foter, video, audio, nan, menu, hgroup, h1, h2, h3, h4, h5, h6, li, ul, p, form, ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8a8683;
	padding: 0px;
	margin: 0px;
	background: url(../image/white_bg_pattern.png) repeat;
}
img {
	max-width: 100%;
	border: none;
}
@font-face {
	font-family: 'Vijaya';
	src: url('../fonts/vijaya.eot');
	src: url('../fonts/vijaya.eot?#iefix') format('embedded-opentype'),  url('../fonts/vijaya.woff') format('woff'),  url('../fonts/vijaya.ttf') format('truetype'),  url('../fonts/vijaya.svg#vijaya') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vijaya-Bold';
	src: url('../fonts/vijayab.eot');
	src: url('../fonts/vijayab.eot?#iefix') format('embedded-opentype'),  url('../fonts/vijayab.woff') format('woff'),  url('../fonts/vijayab.ttf') format('truetype'),  url('../fonts/vijayab.svg#vijayab') format('svg');
	font-weight: normal;
	font-style: normal;
}
/********************* main contener **********************/

#main-wrapper {
	width: 100%;
	float: left;
}
#header, #contant, #footer {
	float: left;
	width: 100%;
}
.clear {
	clear: both;
}
/**********header*********/

#header {
	float: left;
	width: 100%;
}
.header-bg {
	background: url(../image/hed_bg.png) #f6f6f6 repeat-x;
	float: left;
	width: 100%;
}
.hd_c {
	width: 93%;
	margin: 0 auto;
	max-width: 1174px;
}
.hd_leftpart {
	float: left;
	width: auto;
	margin: 32px 0 0 0;
}
.hd_rightpart {
	float: right;
	width: 62%;
	margin: 0;
	padding: 0;
}
.hd_rightpart_searchbox {
	margin: 7px 31px 0 0;
	padding: 23px 0 0;
	float: right;
}
.hd_rightpart_chattext {
	width: auto;
	font-family: 'MyriadProRegular';
	float: right;
	font-size: 14px;
	color: #FFF;
	margin: 7px 17px 0 0;
	padding: 30px 6% 25px 2%;
	background: url(../image/hd_chat.png) no-repeat right;
}
.hd_logmenu {
	width: auto;
	float: right;
	margin: 9px 0 0;
	padding: 21px 0 0 2%;
}
.hd_cell {
	float: right;
	margin: 0 1% 0 0;
	padding: 0;
}
.hd_cell-login-button {
	width: 63px;
	height: 29px;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	background: url(../image/login.png) no-repeat;
	outline: none;
	cursor: pointer;
	border: none;
	font-family: 'MyriadProRegular';
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}
.hd_cell-login-register {
	width: 84px;
	height: 29px;
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	background: url(../image/register.png) no-repeat;
	outline: none;
	cursor: pointer;
	border: none;
	font-family: 'MyriadProRegular';
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}
.hd_cell ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
.hd_cell ul li {
	float: right;
	margin: 30px 0 0 0;
	padding: 0;
	font-family: 'MyriadProBold';
	color: #FFF;
	font-size: 20px;
}
.hd_cell ul li a {
	font-family: 'MyriadProBold';
	float: right;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
}
/*******menu*******/

.menu {
	float: right;
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;
	background: url(../image/nav_bg.png) repeat-x;
	border:#CCC solid 1px;
	border-radius:5px;
	/*height: 49px;*/
}
/**********banner**********/

.banner_bg {
	position: relative;
	float: left;
	width: 100%;
}
/*******************IDeliverMeds**************************/
.phono {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px !important;
	font-weight: bold !important;
	color: #5C5C5C !important;
}
.id_hed_list {
	float: right;
	margin: 32px 0 0;
	padding: 0;
	text-align: right;
	width: auto;
}
.id_hed_list ul {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.id_hed_list ul li {
	width: auto;
	float: left;
	margin: 0 0 0 18px;
	padding-left: 10px;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #5c5c5c;
	line-height: 28px;
}
.id_hed_list ul li.welcome {
	font-size: 14px;
	color: #5c5c5c;
	font-weight: normal;
}
.id_hed_list ul li.welcome a{
	font-size: 14px;
	color: #74B14C;
	font-weight: normal;
}
.id_hed_list ul li a {
	width: auto;
	margin: 0;
	padding: 0;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #373737;
	text-decoration: none;
	line-height: 30px;
	text-transform: uppercase;
}
.id_hed_list ul li.pic1 {
	background: url(../image/login.png) no-repeat;
	padding-left: 24px;
}
.id_hed_list ul li.pic2 {
	background: url(../image/singup.png) no-repeat;
	padding-left: 30px;
}
.id_hed_list ul li.cart-text{
	background: url(../image/cart.png) no-repeat;
	padding-left: 37px;
}
.id_hed_list ul li.pic3 {
	background: url(../image/phonenumber.png) no-repeat;
	padding-left: 34px;
}
.di_welcome_box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background: url(../image/green_bg.png);
	border-top: 5px solid #a8cf8d;
}
.di_welcome_box_text {
	text-align: center;
	width: auto;
	margin: 40px 0;
	padding: 0;
	font-family: 'Vijaya-Bold';
	font-size: 48px;
	color: #fff;
}
.di_welcome_box_para {
	color: #E4F4D9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: 35px;
	margin: 0 auto 45px;
	text-align: center;
	width: 93%;
}
.di_green_pic_box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background: url(../image/green_down_pic.png) repeat-x;
	height: 33px;
}
.contant_box_c {
	width: 93%;
	margin: 0 auto;
	max-width: 1174px;
}
.contant_box_lower {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.white_main_box {
	width: 100%;
	float: left;
	margin: 0;
	min-height: 610px;
}
.di_white_box_text {
	text-align: center;
	width: auto;
	margin: 70px 0 40px;
	padding: 0;
	font-family: 'Vijaya-Bold';
	font-size: 40px;
	color: #373737;
}
.product-box {
	width: 100%;
	float: left;
}
.di_product_box {
	width: 19%;
	float: left;
	margin: 0 1.9% 50px;
	padding: 1%;
	background: #76ad52;
	border: 1px solid #4f7d31;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.di_product_box_white img {
	width: 99%;
	float: left;
	margin: 0 0 15px 0;
	padding: 0;
	border: 1px solid #4f7d31;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fff;
}
.di_white_box_para {
	width: auto;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
}
.di_green_bar_box {
	width: 100%;
	float: left;
	margin: 15px 0;
	padding: 0;
	background: url(../image/green_bar.png) repeat-x;
	height: 3px;
}
.di_white_box_bot {
	width: 149px;
	height: 40px;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;
	background: url(../image/view_details.png) no-repeat;
	cursor: pointer;
	border: none;
	outline: none;
}
.di_botion_box {
	width: 149px;
	margin: 0 auto;
	padding: 0;
}
.di_gray_box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0 0 20px 0;
	background: #f1f1f1;
}
.di_delivery_box {
	width: 57%;
	float: left;
	margin: 40px 0 0 0;
	padding: 0;
}
.di_delivery_pic_box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	height: 57px;
	background: url(../image/delivery_pic.png) no-repeat;
}
.di_delivery_para_box {
	width: 97%;
	float: left;
	margin: 0;
	padding: 10px 0 0 3%;
	line-height: 20px;
}
.di_delivery_para_box_inner1 {
	width: auto;
	float: left;
	margin: 0;
	padding: 0 0 28px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3a3a3a;
	text-align: justify;
	border-bottom: 1px dotted #acacac;
}
.di_delivery_para_box_inner2 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #acacac;
}
.di_delivery_hd {
	width: auto;
	float: left;
	margin: 18px 0 0 0;
	padding: 0 0 0 2%;
	font-size: 30px;
	color: #373737;
	font-family: "Vijaya";
	background: url(../image/text_sidebar.png) no-repeat left 3px;
	line-height: 30px;
}
.di_delivery_para {
	width: auto;
	float: left;
	margin: 12px 0 15px;
	padding: 0 0 0 2%;
	font-size: 14px;
	color: #3a3a3a;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}
.di_form_box {
	width: 38%;
	float: right;
	margin: 0;
	padding: 0;
}
.di_form_box_inner1 {
	width: 95%;
	float: left;
	margin: 40px 0 0 0;
	padding: 7px 0 0 5%;
	background: url(../image/form_bg.png) no-repeat;
	font-family: 'Vijaya-Bold';
	font-size: 35px;
	color: #fff;
	height: 54px;
	line-height: 32px;
}
.di_from_box_inner2 {
	float: left;
	margin: 0;
	padding: 0 0 0 4.8%;
	width: 84.6%;
}
.di_from_box_inner2_bg {
	float: left;
	margin: 0;
	padding: 0 3%;
	width: 94%;
	background: #b1dd99;
}
.di_from_callus_now {
	width: auto;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #234111;
	font-weight: bold;
}
.di_from_fill_form {
	width: auto;
	text-align: center;
	margin: 8px 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #234111;
}
.joinus_main_form_box_inner_part {
	float: left;
	margin: 5px 0;
	padding: 0;
	width: 100%;
}
.joinus_main_form_box_inner_part1 {
	float: left;
	margin: 5px 0;
	padding: 0;
	width: 100%;
}
.joinus_main_form_box_inner_part_lab {
	float: left;
	margin: 8px 0 7px 0;
	padding: 0;
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #234111;
	font-weight: bold;
	text-transform: uppercase;
}
.joinus_main_form_box_inner_part_massage {
	float: left;
	margin: 30px 0 7px 0;
	padding: 0;
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #234111;
	font-weight: bold;
	text-transform: uppercase;
}
.joinus_main_form_box_inner_part_lab2 {
	float: left;
	margin: 8px 0 7px 0;
	padding: 0;
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #234111;
	font-weight: bold;
}
.join-main-formrgt {
	width: 75%;
	float: right;
}
.joinus_main_form_box_inner_part_input {
	float: right;
	margin: 0;
	padding: 0 2%;
	width: 96%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6c6c6c;
	background: #f6f6f6;
	border: 1px #e9e9e9 solid;
	height: 35px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.joinus_main_form_box_inner_part_input1 {
	float: left;
	margin: 0 3% 0 0;
	padding: 0 2%;
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6c6c6c;
	background: #f6f6f6;
	border: 1px #e9e9e9 solid;
	height: 35px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.joinus_main_form_box_inner_part_input2 {
	float: left;
	padding: 0 2%;
	width: 24%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6c6c6c;
	background: #f6f6f6;
	border: 1px #e9e9e9 solid;
	height: 35px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.joinus_main_form_box_inner_part_input3 {
	float: left;
	margin: 0;
	padding: 2%;
	width: 96%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6c6c6c;
	background: #f6f6f6;
	border: 1px #e9e9e9 solid;
	height: 70px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.joinus_main_form_box_inner_part_input4 {
	float: right;
	margin: 0 0 0 5%;
	padding: 0 2%;
	width: 47%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6c6c6c;
	background: #fff;
	border: none;
	height: 35px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.joinus_main_form_box_inner_part_input5 {
	float: right;
	margin: 0;
	padding: 0 2%;
	width: 40%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #fff;
	background: #446234;
	border: none;
	height: 35px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
.joinus_text {
	float: left;
	margin: 10px 0 0;
	width: 75%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #234111;
}
.joinus_main_form_box_inner_part_bott {
	float: right;
	margin: 0;
	width: 265px;
	height: 48px;
	border: none;
	background: url(../image/submeet_massage.png) no-repeat;
	cursor: pointer;
}
.di_form_box_bottom {
	background: url(../image/form_bottom_bg.png) no-repeat 0 0;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
	width: 93.6%;
}
.get_pic_box img {
	position: fixed;
	width: 43px;
	height: 150px;
	border: none;
	outline: none;
	top: 328px;
	right: 0;
}
/**********************footer*************************/

.footer_main_box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.footer_box_c {
	margin: 0 auto;
	width: 93%;
	max-width: 1174px;
}
.footer_menu_box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background: #446234;
}
.footer_menu_list {
	width: 100%;
	display: inline-table;
	text-align: center;
}
.footer_menu_list ul {
	display: inline-table;
	text-align: center;
	padding: 30px 0;
}
.footer_menu_list ul li {
	display: inline-table;
	text-align: center;
}
.footer_menu_list ul li a {
	width: auto;
	float: left;
	margin: 0;
	padding: 0 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #FFFFFF;
}
.footer_menu_box2 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 0;
	background: #648f4d;
}
.footer_ibox {
	width: 33%;
	float: left;
	margin: 0;
	padding: 0;
}
.footer_iboxs2 {
	width: 33%;
	float: left;
	margin: 0;
	padding: 0;
}
.footer_icon_box {
	width: 100%;
	float: left;
}
.footer_icon_box img {
	float: left;
	margin: 0 0 0 2%;
	padding: 0;
}
.footer_text_box {
	margin: 12px 0 0 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}
.footer_text_box2 {
	margin: 12px 0 0 0;
	padding: 0;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b1d29f;
}
/*********************Products*******************/
.breadcam{
	width:100%;
	float:left;
	margin:40px 0 0;
}
.breadcam ul li{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#74b14c;
	margin-right:10px;
}
.breadcam ul li a{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#373737;
	text-decoration:none;
}
.products-txt{
	width:100%;
	float:left;
	font-size:24px;
	margin:55px 0 30px 0;
	padding:0 0 8px 0;
	border-bottom:1px solid #cccccc;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-style:italic;
	color:#74b14c;
	text-transform:uppercase;
}
/****************Gat A Quote*******************/
.get-quotetxt{
	width:100%;
	float:left;
	font-size:16px;
	color:#3a3a3a;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom:55px;
	line-height: 25px;
}
.get-form{
	width:52%;
	float:left;
}
.get-formrow{
	width:100%;
	float:left;
	margin-bottom:20px;
}
.get-formtxt{
	width:100%;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	margin-bottom:10px;
}
.get-formtxtfield{
	width:82%;
	height:33px;
	border:1px solid #cfcfcf;
	background:#f5f5f5;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	padding:0 2%;
}
.get-formtxtfield1{
	width:8%;
	height:33px;
	border:1px solid #cfcfcf;
	background:#f5f5f5;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	padding:0 2%;
	margin-right:12px;
}
.get-formtxtfield2{
	width:10%;
	height:33px;
	border:1px solid #cfcfcf;
	background:#f5f5f5;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	padding:0 2%;
}
.get-msgfield{
    width:94%;
	height:173px;
	border:1px solid #cfcfcf;
	background:#f5f5f5;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	padding:2%;
	resize:none;
}
.get-submit{
	width:200px;
	height:50px;
	border:0;
	font-size:0;
	cursor:pointer;
	background:url(../image/request-quotebtn.png) no-repeat;
	margin-bottom:60px;
}
/***Contact us***/
.contact-box{
	width:100%;
	float:left;
	margin-bottom:80px;
}
.contact-lft{
	width:45%;
	float:left;
	border:1px solid #dcdcdc;
}
.contact-lftin{
	width:100%;
	float:left;
}
.contact-lftin img{
	width:100%;
	float:left;
}
iframe,video,embed{
	width:100%;
}
.contact-rgt{
	width:30%;
	float:left;
	margin-left:8%;
}
.contact-rgtbox{
	width:100%;
	float:left;
	margin-bottom:28px;
}
.contact-rgtpic{
	float:left;
	width:13%;
}
.contact-rgttxtbox{
	width:75%;
	float:left;
	border-bottom:1px solid #cccccc;
	padding-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	line-height:22px;
}
.contact-rgttxtbox a{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a3a3a;
	line-height:24px;
	text-decoration:none;
}

/***Product Details***/
.product-detailslft{
	width:26%;
	float:left;
}
.product-detailslft-pic{
	width:100%;
	float:left;
}
.product-detailslft-pic img{
	width:100%;
}
.product-detailsrgt{
	width:70%;
	float:right;
}
.product-detailsrgt-txt{
	width:100%;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#74b14c;
	margin:0 0 18px 0;
}
.product-detailsrgt-txt1{
	width:100%;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#373737;
	margin:0 0 18px 0;
	line-height:20px;
}
.product-details-select{
	float:left;
	margin:5px 10px 0 0;
}
.product-details-btn{
	width:128px;
	height:37px;
	background:url(../image/add-to-cart-pic.png) no-repeat;
	cursor:pointer;
	float:left;
	font-size:0;
	border:0;
}
.product-details-txtfield{
	width:4%;
	float:left;
	height:30px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0 1%;
	border:1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#373737;
}
/*******Select box*******/
.dd2 {
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
}
.dd2 .ddTitle {
	background:url(../image/select-box.jpg) no-repeat;
	padding:5px 0 0px 3px;
	margin:0;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:24px;
	width:160px;
}
.dd2 .ddTitle span.arrow {
	display:none; float:right; display:inline-block; width:27px; height:20px; cursor:pointer; top:5px; position:relative; right:2px;
}
.dd2 .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden;/* line-height:33px;*/	font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#fff; position:relative; /* _top:4px;*/ padding-left:6px; }
.dd2 .ddTitle span.ddTitleText img{text-align:left; padding:0 10px 0 15px; font-family: Arial, Helvetica, sans-serif;font-size:16px; color:#3a3a3a; }
.dd2 .ddTitle img.selected {
	padding:0 2px 0 0;
	vertical-align:top;
}
.dd2 .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	font-size:12px;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {padding-left:10px}
.dd2 .ddChild a {
	display:block;
	padding:4px 0 4px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	border-top:1px solid #c3c3c3;
}
.dd2 .ddChild a:hover {
	background-color:#f0f0f0;
}
.dd2 .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd2 .ddChild a.selected {
	background-color:#f0f0f0;	
}
.dd2 .borderTop{border-top:1px solid #c3c3c3 !important;}
.dd2 .noBorderTop{border-top:none 0 !important;}

/*************Search result********************/
.search-resultbox{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.search-txt {
	color: #3A3A3A;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin: 10px 15px 0 0;
}
.search-formtxtfield {
	background: none #F5F5F5;
	border: 1px solid #CFCFCF;
	color: #3A3A3A;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	height: 33px;
	padding: 0 1%;
	width: 15%;
}
.search-resultsbtn{
	width: 80px;
	background: #74B14C;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
	color: #fff;
	border: 0;
	cursor: pointer;
	padding: 8px 0;
	text-align: center;
	margin-left: 15px;
}
/************************************ login pages ********************************/

.login-sectionfulldiv{
	width:100%;
	float:left;
	margin:45px 0 200px;
}
.login-leftsection{
	width:42%;
	float:left;
	margin:0px 0 0px;
	background:#fff;
	border:1px solid #dedede;
	padding:2%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px; 
}
.login-leftsection-heading{
	width:100%;
	float:left;
	margin:0px 0 15px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:20px;
	color:#676767; 
}
.login-leftsection-subheading{
	width:100%;
	float:left;
	margin:0px 0 8px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#74B14C; 
}
.login-leftsection-textbg{
	width:100%;
	float:left;
	margin:0px 0 25px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#3A3A3A;
	line-height:24px; 
}

.login-rightsection {
	width:42%;
	float:right;
	margin:0px 0 0px;
	background:#fff;
	border:1px solid #dedede;
	padding:2%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px; 
}
.login-rightsection-requiredtext{
	width:100%;
	float:left;
	margin:0px 0 7px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#616161;
	text-align:right; 
}
.login-rightsection-frombox{
	width:100%;
	float:left;
	margin:0px 0 12px;
}
.login-rightsection-frombox:last-child{
	margin:0px 0 0px;
}
.login-rightsection-fromboxtext{
	width:26%;
	float:left;
	margin:10px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#3A3A3A;
}
.login-rightsection-fromboxtextfield{
	width:69%;
	float:right;
	margin:0px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
	padding:0 2%;
	height:35px;
	line-height:45px;
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #CFCFCF;
	color: #3A3A3A;
}
.login-continue-button2{
	width: 105px;
	background: #E5E5E5;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-family: Arial,Helvetica,sans-serif;
        font-size: 16px;
	color:#676767;
	border: 0;
	cursor: pointer;
	padding: 8px 0;
	text-align: center;
	margin-left: 26%;
	font-weight: bold;
	float: left;
}
.login-rightsection-forgettext{
	width:auto;
	float:right;
	margin:7px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#20939b;
}
.login-rightsection-forgettext a{
	color:#676767;
	text-decoration:none;
}

/************************************ register page ********************************/

.register-fullsection{
	width:100%;
	float:left;
	margin:30px 0 0px;
}
.register-innerbox{
	width:100%;
	float:left;
	margin:0px 0 30px;
	padding:0 0 25px;
	border-bottom:1px dotted #cccccc;
}
.register-innerbox-heading{
	width:100%;
	float:left;
	margin:0px 0 25px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:20px;
	color:#676767;
}
.register-required-text{
	width:90%;
	float:right;
	margin:0px 5% 5px 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#3f3f3f;
	text-align:right;
}
.register-inner-frombox{
	width:45%;
	float:left;
	margin:0px 5% 0px 0;
	min-height: 75px;
}
.register-inner-fromboxtext{
	width:29%;
	float:left;
	margin:10px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#3A3A3A;
}
.register-inner-fromboxtextfield{
	width:66%;
	float:right;
	margin:0px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	padding:0 2%;
	height:41px;
	line-height:45px;
	background:#F5F5F5;
	border: 1px solid #CFCFCF;
	color: #3A3A3A;
}
.drop-p {
	width:70%;
	float:right;
	margin:0px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	padding:8px 2%;
	background:#F5F5F5;
	border: 1px solid #CFCFCF;
	color: #3A3A3A;	
}
.register-inner-bottomsection{
	width:70%;
	float:left;
	margin:10px 0 40px 13.5%;
}
.register-inner-bottom-cheakbox{
	width:auto;
	float:left;
	margin:10px 0 0px 15px;
}
.register-radiobox-con{
	width:auto;
	float:left;
	margin:15px 0 0px;
}
.register-inner-bottom-cheakboxtext{
	width:auto;
	float:left;
	margin: 9px 0 0 8px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#000;
}
.register-inner-bottom-cheakboxtext a{
	color:#74B14C;
	text-decoration:none;
}

.login-innerbox {
	color: #434242;
	float: left;
	font-size: 17px;
	margin: 20px 0 0;
	width: 100%;
}

/************************************ cart section ********************************/

.carttop-section{
	width:100%;
	float:left;
	margin:0px 0 0px;
	border:1px solid #e1e1e1;
}
.carttop-pic-border{
	border:1px solid #e1e1e1;
	padding:1px;
	display: inline-block;
}
.catalog_hide_box_inner_input_text{
	border: 1px solid #bcbcbc;
	float: left;
	height: 16px;
	margin: 0 22px 0 0px;
	padding: 2px 5px;
	text-align:right;
	width: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5A6B85;
}
.b_alinine_price_thik img{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#323232;
	padding: 1% 0 0 10px;
	vertical-align:top;
	text-align:left;
	border:none;
	outline:none;
	margin-right:15px;
}
.b_alinine_price_thik{
	float:left;
}
.cat_text_box{
	width:100%;
	float:left;
	margin:0;
	padding:0 0 30px 0;
	border-bottom:1px dotted #b2b2b2;
}
.cat_text_box_part1{
	width:100%;
	float:left;
	margin:17px 0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:18px;
	color:#616161;
}
.cat_text_box_part2{
	width:100%;
	float:left;
	margin:0 0 5px 0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#616161;
}
.cat_text_box_part3{
	width:100%;
	float:left;
	margin:6px 0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#616161;
	line-height:12px;
}
.cat_radio_bot{
	float:left;
	margin:0 6px 0 0;
	padding:0;
}
.cat_last_box{
	width:100%;
	float:left;
	margin: 0;
	padding:0;
}
.cat_last_box_left{
	width:50%;
	float:left;
	margin:0;
	padding:30px 0 0 0;
}
.cat_last_box_left_inner_bot1{
	width:217px;
	height:37px;
	float:left;
	margin:0 25px 0 0;
	padding:0;
	/*background:url(../image/cat_continue_bot.png) no-repeat;*/
	border:none;
	outline:none;
	cursor:pointer;
}
.cat_last_box_left_inner_bot2{
	width:129px;
	height:37px;
	float:left;
	margin:0;
	padding:0;
	/*background:url(../image/cat_checkout.png) no-repeat;*/
	border:none;
	outline:none;
	cursor:pointer;
}
.cat_last_box_right{
	float:right;
	margin:0;
	padding: 20px 0 0;
	width: 50%;
}
.cat_last_box_right_inner{
	width:60%;
	float:right;
	margin: 0 0 5px;
	padding:0;
}
.cat_last_box_right_inner_left{
	width: 63%;
	float:left;
	margin:0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#3a3a3a;
}
.cat_last_box_right_inner_right{
	width: 37%;
	float:right;
	margin:0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#3a3a3a;
}
.cart-module {
	float: left;
	margin: 15px 0 0;
	width: 100%;
}
.cart_coupon_text {
	float: left; 
	margin:0 0 5px 0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#3a3a3a;
}
.cart_coupon_textbox {
	border: 1px solid #7EC3C8;
	color: #5A6B85;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	height: 21px;
	padding: 2px 5px;
}
.cart_coupon_button {
	background: linear-gradient(to bottom, #AFEDF2 0%, #88D1D5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #9ce0e4; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(175,237,242,1) 0%, rgba(136,209,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,237,242,1)), color-stop(100%,rgba(136,209,213,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afedf2', endColorstr='#88d1d5',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #94cace;
	-moz-box-shadow: inset 0px 1px 2px #fff;
	-webkit-box-shadow: inset 0px 1px 2px #fff;
	box-shadow: inset 0px 1px 2px #fff;
	color: #000000 !important;
	cursor: pointer;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 0 5px;
	padding: 3px 10px;
	width: auto;
}
.cart_name_a {
	color: #44811C !important;
	text-decoration: none;
}
.dealer-locatertext {
	color: #313131;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin: 15px 0 450px;
	width: 100%;
}
.cart-blankdiv{
	margin: 0px 0 300px;
	width: 100%;
	float: left;
}
.cart-blankdiv-text {
	color: #313131;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin: 20px 0 20px;
	width: 100%;
}
.select-color{
	background:#E7FDFF;
	border: 1px solid #6FCFD6;
	border-radius: 5px;
	margin: 0 0 0 5px;
	padding: 4px 5px;
	width: 39%;
}

/************************************ checkout ********************************/

.myaccount-fullwarp {
	float: left;
	margin: 20px 0 30px;
	width: 100%;
}

.checkout-innersection{
	width:100%;
	float:left;
	margin:0px 0 0px;
	border:1px solid #e1e1e1;
}
.checkout-heading {
	background:#E5E5E5;
	border-bottom: 1px solid #FFFFFF;
	color: #3B3B3B;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	padding: 8px 0 8px 2%;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

.checkout-heading a {
	color: #6E6E6E;
	float: right;
	font-weight: normal;
	margin-top: 1px;
	padding: 0 20px 0 0;
	text-decoration: none;
}
.checkout-content {
	padding: 20px 1%;
	/*float: left;
	width: 96%;*/
}
.checkout-inner-leftpanel{
	width:50%;
	margin:0px 0 0px;
	border-right:1px solid #dedede;
	display: inline-block;
}
.checkout-leftpanel-text1{
	width:100%;
	margin:0px 0 0px;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
}
.checkout-leftpanel-rawbox{
	width:100%;
	margin:5px 0 0px;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
}
.checkout-leftpanel-textbg{
	width:94%;
	margin:15px 0 20px;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
	line-height:24px;
}
.checkout-inner-rightpanel{
	width:45%;
	float:right;
	margin:0px 2% 0px 0;
}
.checkout-edit-massagefield{
	width:98%;
	float:left;
	margin:10px 0 20px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
	padding:7px 1%;
	height:90px;
	background:#f3f3f3;
	border:1px solid #d4d2d2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	resize:none; 
}
.checkout-delevery-text1{
	width:100%;
	margin:0px 0 10px;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
}
.checkout-delevery-heading{
	width:100%;
	margin:0px 0 10px;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#616161;
}
.checkout-delevery-radiorow{
	width:100%;
	margin:0px 0 10px;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
}
.checkout-delevery-radiorow span{
	float:right;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#7ec3c8;
}
.checkout-delevery-abouttext{
	width:100%;
	margin:0px 0 0px;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
}
.checkout-delevery-button{
	width:auto;
	float:left;
	margin:20px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:20px;
	color:#000 !important;
	padding: 3px 17px;
	background: #9ce0e4; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(175,237,242,1) 0%, rgba(136,209,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,237,242,1)), color-stop(100%,rgba(136,209,213,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(175,237,242,1) 0%,rgba(136,209,213,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afedf2', endColorstr='#88d1d5',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #94cace;
	-moz-box-shadow: inset 0px 1px 2px #fff;
	-webkit-box-shadow: inset 0px 1px 2px #fff;
	box-shadow: inset 0px 1px 2px #fff;
	cursor:pointer;
}
.cheakout-inner-bottomsection{
	width:100%;
	float:left;
	margin:10px 0 0px 0%;
}
.cheakout-continue-rightbutton {
	background: #E5E5E5;
	border: 0 none;
	border-radius: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	color: #676767;
	cursor: pointer;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 20px;
	text-align: center;
	width:auto;
	text-decoration: none;
}
.cheakout-inner-bottom-cheakboxtext{
	width:auto;
	float:right;
	margin: 9px 10px 0 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#000;
}
.cheakout-inner-bottom-cheakboxtext a{
	color:#676767;
	text-decoration:none;
}
.cheakout-inner-bottom-cheakbox{
	width:auto;
	float:right;
	margin:10px 7px 0px 0px;
}
.confirm-productname-rawbox{
	width:35%;
	float:left;
	margin:0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
}
.confirm-model-rawbox{
	width:25%;
	float:left;
	margin:0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
}
.confirm-quantati-rawbox{
	width:10%;
	float:left;
	margin:0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
	text-align:center;
}
.confirm-price-rawbox{
	width:20%;
	float:left;
	margin:0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
	text-align:center;
}
.confirm-total-rawbox{
	width:10%;
	float:left;
	margin:0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
	text-align:center;
}
.confirm-productname-text{
	width:100%;
	float:left;
	margin:10px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
}
.confirm-productname-text a{
	color:#7ec3c8;
	text-decoration:none;
}
.confirm-model-text{
	width:100%;
	float:left;
	margin:10px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
}
.confirm-quenty-text{
	width:100%;
	float:left;
	margin:10px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
	text-align:center;
}
.confirm-subtotal-text{
	width:82%;
	float:left;
	margin:10px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
	text-align:right;
}
.confirm-subtotal-pricetext{
	width:10%;
	float:right;
	margin:10px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#616161;
	text-align:center;
}
.error {
	color: #FF0000;
	display: block;
	float: right;
	padding: 5px 0 10px;
	text-align: right;
	width: 100%;
}
.error1 {
	color: #FF0000;
	display: block;
	float: left;
	padding: 5px 0 10px;
	text-align: left;
	width: 100%;
}
#content .content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EEEEEE;
	color: #3A3A3A;
	font-size: 16px;
	margin: 20px 0;
/*	overflow: auto;*/
	padding: 2%;
	width: 96%;
}
/**********Thank you******************/
.thankyou-box{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	float: left;
	margin: 0;
	padding: 2%;
	width: 96%;
}
/*******************forgot password**********************/
.forgotpass-rightsection{
	background:#fff;
	border: 1px solid #dedede;
	border-radius: 5px 5px 5px 5px;
	clear: both;
	margin: 0;
	overflow: hidden;
	padding: 2%;
	width: 95.5%;
}
.forgotpass-content-heading {
	color: #4E4E4E;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 25px;
	margin: 35px 0 5px;
	width: 100%;
}
.forgotpass-content-heading2 {
	color: #8A8683;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin:0 0 25px 0;
	width: 100%;
}
.forgotpass_blank{
	float: left;
	height: 182px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.forgotpass-leftsection-heading{
	width:100%;
	float:left;
	margin:0px 0 20px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:20px;
	color:#3a3a3a; 
}
.forgotpass-rightsection-frombox {
	float: left;
	margin: 25px 0 12px;
	width: 40%;
}
.request-captcha {
	float: left;
	width: 100%;
}
.request-captcha_input4 {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #CFCFCF;
	color: #3A3A3A;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	height: 33px;
	padding: 0 2%;
	width: 25%;
	margin:0 0 0 15px;
}
.error_product{
	color:#ff0000;
	float: left;
	margin: -9px 0 13px 61px;
}
.request-captcha-text {
	color: #3A3A3A;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin: 10px 0 0;
	width: 100%;
}
.account-dashboardline{
    border-top: 1px solid #CCCCCC;
    float: left;
    margin: 0 5%;
    position: relative;
    text-align: center;
    width: 90%;
}
.account-dashboardline span{
    color: #74B14C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
    margin: -18px 0 30px;
    text-align: center;
    background: url("../image/white_bg_pattern.png") repeat;
    padding: 0 72px;
    display: inline-table;
}
.account-dashboardbox {
    margin: 50px auto 70px;
    width: 60%;
}
.account-dashboardbox ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.account-dashboardbox ul li {
    display: inline-table;
    text-align: center;
    width: 32%;
}
.account-dashboardbox ul li a {
    color: #333333;
    font-family: arial;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.account-dashboardtxt {
    float: left;
    text-align: center;
    width: 100%;
}
.left1 {
    float: left;
    margin-right: 15px;
}
.inner-body-content {
    background:#FAFAFA;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    clear: both;
    float: left;
    margin: 20px 0 30px;
    padding: 2%;
    width: 95.5%;
}
.address-list {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.account-text {
    color: #3a3a3a;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin: 20px 0;
    width: 80%;
    line-height: 23px;
}
.account-button {
    float: right;
    margin: 20px 0 0;
    width: 16%;
}
.account-edit-button {
    background:#74B14C;
    border: 0 none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 12px;
    text-align: center;
    width:auto;
}
.address-inner-bottomsection {
    float: left;
    margin: 10px 0 0;
    width: 100%;
}


.vrformmAra .error {
color: #FF0000;
display: block;
float: right;
padding: 5px 0 10px;
text-align: center;
width: 109%;
}