<?php echo $header; ?>
<!--Body section-->

<div class="cretaccuntAra">
<div class="innerwrapper">

<div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php //echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <h1 class="prdct_name"><?php echo $heading_title; ?></h1>
  
<?php echo $column_left; ?><?php echo $column_right; ?>
 <div id="content">
  
     <?php if ($success) { ?>
     <div class="success"><?php echo $success; ?></div>
     <?php } ?>
	 <div class="sitemap-info">
	
          <strong><?php echo $text_my_account; ?></strong>
   	  <li><a href="<?php echo $edit; ?>"><?php echo $text_edit; ?></a></li>
	 <li><a href="<?php echo $password; ?>"><?php echo $text_password; ?></a></li>
      
  <!--    <li><a href="<?php //echo $address; ?>"><?php //echo $text_address; ?></a></li>-->
      <!--<li><a href="<?php /*echo $wishlist; ?>"><?php echo $text_wishlist;*/ ?></a></li>-->
	 
    
	
      <strong><?php echo $text_my_orders; ?></strong>
      <!-- <li><a href="<?php //echo $order; ?>"><?php //echo $text_order; ?></a></li>-->
	
     <li><a href="<?php //echo $download; ?>"><?php //echo $text_download; ?></a></li>
      <?php /*if ($reward) { ?>
      <li><a href="<?php echo $reward; ?>"><?php echo $text_reward; ?></a></li>
      <?php } */ ?>
      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
      <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
<!--      <li><a href="<?php //echo $recurring; ?>"><?php //echo $text_recurring;?></a></li>-->
    
	
          <strong><?php echo $text_my_newsletter; ?></strong>
   	 <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
    
    </div>
</div>
<!--End body section-->

</div>
  </div>
<?php echo $footer; ?>

