<?php echo $header; ?>



<div class="cretaccuntAra">
<div class="innerwrapper">

<div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php //echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
 <h1 class="prdct_name"><?php echo $heading_title; ?></h1>
 
 
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
<?php if ($success) { ?>
<div class="success"><?php echo $success; ?></div>
<?php } ?>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>

  
 
  <h1 class="prdct_name"><?php echo $text_address_book; ?></h1>
  
  <?php foreach ($addresses as $result) { ?>
  <div class="content">
    <table style="width: 100%;">
      <tr>
        <td><?php echo $result['address']; ?></td>
        <td style="text-align: right;"><a href="<?php echo $result['update']; ?>" class="button"><?php echo $button_edit; ?></a> &nbsp; <a href="<?php echo $result['delete']; ?>" class="button"><?php echo $button_delete; ?></a></td>
      </tr>
    </table>
 
  <?php } ?>
  <div class="buttons">
    <a href="<?php echo $back; ?>" class="yellow_btn"><?php echo $button_back; ?></a>
   <!-- <a href="<?php //echo $insert; ?>" class="yellow_btn"><?php //echo $button_new_address; ?></a>-->
  </div>
  <?php echo $content_bottom; ?></div>
 </div>
</div>
  </div>
<?php echo $footer; ?>