<?php

$count=0;
  

  ?>  

	 
    <?php foreach ($products as $product) { ?>
   <div class="prodctPrt">
    
          <!--left part open-->
      <div class="lftPrt">
      	<div class="proInfo">
     
<div class="name"><a href="<?php echo $product['href']; ?>"><span>

<?php   //echo $product['date_modified'];
$added_date= $product['date_modified'];
 $modified_date= $product['date_added'];
 $current_date=date("Y-m-d");

 $added_date = explode("-", $added_date);
$modified_date = explode("-", $modified_date);
$current_date = explode("-", $current_date);
$t=($modified_date[1]-$current_date[1]);
$t1=($added_date[1]-$current_date[1]);
if($t==0 OR $t1==0){
echo "New!";
}
?>
</span> <?php echo $product['name']; ?></a></div>
      <div class="description">
     
      <div class="model_info">
        
      <div class="modelnamehd">Model:</div>
      <div class="modlname"><?php echo $product['model']; ?></div>
      <div class="modelnamehd">SKU:</div>
      <div class="modlname"><?php echo $product['sku']; ?></div>
      </div>
        <div class="prodct_detail">
          <ul>
            <?php foreach($product['attribute_groups'] as $attribute_group) { ?>
            <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
             <?php if($attribute_group['attribute_group_id']==7 or $attribute_group['attribute_group_id']==8 or $attribute_group['attribute_group_id']==9){ ?>
            <li> <?php echo $attribute['text']; ?></li>
             <?php } ?>
            <?php } ?>
            <?php } ?>
          </ul>
          </div><?php $count++;
       
    ?>
    <div class="rateAra">Customer Reviews:<span class="star"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></span> <?php echo $product['rating']; ?> of 5 <a>(<?php echo $product['reviews']; ?> )</a></div> 
       <a href="#" class="checklink">Check Shipping &amp; Availability ›</a>  
      </div>
      </div><!--proInfo div closed-->
      </div>
      <!--left part closed-->
        <!--right part open-->
      <?php if ($product['price']) { ?>
      <div class="price">
       <?php if (!$product['special']) { ?>
        <?php echo $product['price']; ?>
        <?php } else { ?>
        <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
        <?php } ?>
        <?php if ($product['tax']) { ?>
        <br />
        <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
        <?php } ?>
        
     
      
        <div class="sub_price">Reg. Price: <span><?php echo $product['special']; if($product['special']=='' ) echo $product['price']; ?></span> You Save: <span>
	<?php $a=str_replace(',','',$product['price']); $b=str_replace(',','',$product['special']); ?>
         
         <?php $ab= (substr($a,1,10))-(substr($b,1,10)); if(substr($a,1,10)== $ab) echo '$0.00'; else echo $ab; ?></span></div>
        
        <div class="ulara"> 
             <ul>
           <?php foreach($product['attribute_groups'] as $attribute_group) { ?>
            <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
              <?php if($attribute_group['attribute_group_id']==3){ ?>
            <li><?php echo $attribute['text']; ?></li>
             <?php } ?>
            <?php } ?>
            <?php } ?>
             </ul>
       </div>
     </div>
      <?php } ?>
      
      <div class="cart">
        <input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="add2cart" />
      </div>
      <div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><i><img src="catalog/view/theme/getfloss/custom_images/category-page-image/wish-icon.png" width="9" height="8" /></i><?php //echo $button_wishlist; ?></a></div>
      <div class="compare"><a onclick="addToCompare('<?php echo $product['product_id']; ?>');" style="display:none;"><?php echo $button_compare; ?></a></div>
      <!--right part closed-->
      <?php if ($product['thumb']) { ?>
      <div class="image" style="float:left;">
      <a href="<?php echo $product['href']; ?>">
      <img src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" />
            </a>
      </div>
      <?php } ?>
    </div><!--part closed-->
    <?php }   ?>
