<div style="width:100%; float:left;">
<div class="innerwrapper">
<div class="carsoul"><span>Our Brands</span></div>


<div style="width:100%; float:left; position:relative;">
<div style="width:90%; margin:0px auto;">
<div id="owl-demo2" class="owl-carousel">
<?php foreach ($banners as $banner) { ?>

          <div class="item">
          <a href="<?php echo $banner['link']; ?>">
          <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" title="<?php echo $banner['title']; ?>" />
         </a>
          </div>
          <?php } ?>
    </div>
</div>    
</div>


</div>
</div>



