<style type="text/css">
/*.box-content .box-fbconnect-a {
	float: right !;
	width:auto;
}*/
.box-fbconnect-a {
	float: right;
	width:auto;
	margin-right:15px;
}
</style>


 
  
	<a class="box-fbconnect-a" href="<?php echo $fbconnect_url; ?>"><?php //echo $fbconnect_button; ?>
	<img src="catalog/view/theme/getfloss/images/login-wth-facebook-button.png" width="159" height="31" alt="" title="Login with Facebook" border="0" /></a>





