

<!--slider part 2 open-->


<div class="featuredAra">
  

  <?php if (count($products) > 0) { ?>
  
  <div class="innerwrapper">
  <div class="box-heading2"><span> <?php   echo $heading_title;  ?></span></div>

<div class="multisldrAra-wrap">
<div class="multisldrAra">
<div id="demo2">
  <?php if (count($products) > 0) { ?>
        <div class="owl-demo owl-carousel">
  <?php foreach ($products as $product) { ?>         
          <div class="item">
          <?php if ($product['thumb']) { ?>
        <div class="image imgclass"><a href="<?php echo $product['href']; ?>">
        <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
        
        </a></div>
        <?php } ?>
        <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
        <div class="description"><?php echo $product['description']; ?></div>
        <div class="viewdetails"><a href="<?php echo $product['href']; ?>">View Details</a></div>
	<?php if($product['review_count']!='0'){ ?>	
        <div class="rating"> (<?php echo $product['reviews']; ?>) 
      <?php if ($product['rating']) { ?>
        <div class="rating">
     <img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" />
     </div>
        <?php } ?>
     </div>
<?php } ?>
        <?php if ($product['price']) { ?>
        <div class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
          <?php } ?>
        </div>
        <?php } ?>
      </div>
<?php } ?>
        </div>
        
       <?php } ?> 
    </div>
    </div>
    </div>
    
    </div>
  
 <?php } ?> 
  
   
</div>
<!--slider part 2 closed-->






</div>





